{% extends 'base.html' %}

{% block content %}
  <h2>{{ label }}</h2>
  {% if item.image %}
  <a href="{{ item.image.url   }}"><img alt="" src="{{ item.image.large.url   }}"/></a>
  </p>
  {% endif %}
  <form method="post"  enctype="multipart/form-data" id='crud_form'>
{{ preamble }}
  <table>
    {% csrf_token %}
    {{ form.as_table }}
    <tr><td></td><td><button type="submit">{{ action }}</button></td></tr>
  </table>
  </form>
  </p>

<hr>
<p>
<a href="{% url back %}">back</a> to the overview.
<p>

{% if debug %}
{{ form.errors }}
{{ form.non_field_errors }}
{% endif %}

{% endblock %}
