{% extends 'base.html' %}

{% block content %}
{% load qr_tags  %}

<style>
.sem { width:12em; }
</style>

<h2>Temporary Storage for {{ owner }}</h2>
{% if limit %}
<p>
	Below only shows the storage for {{ owner }} -- 
	see <a href="{% url 'storage' %}">[here]</a> for an overview of everyone.
</p>
{% endif %}
</h2>

<p><a href="{% url 'addstorage' %}">[File a request]</a> for the storage of an item outside members storage.</p>

{% for label,storage in overview.items %}
{% if storage %}
<h2>{{ label }}</h2>
<table>
  <tr>	
	<th>id</th>
	<th class="sem">status</th>
	<th>location and owner</th>
	<th width=60%>item</th>
  </tr>
 {% for item in storage %}
  <tr>
	<td><code>{{ item.id }}<code></td>
        <td>
	{{ item.get_state_display }}
	<center>{% qr_from_text item.id "s" %}
	</center>
        </td>
        <td>{{ item.what}}<br/>
            <i><a href="{% url 'storage' user_pk=item.owner.id %}">{{ item.owner }}</a></i><br/>
        </td>
        <td>
	  <b>{{ item.location }}</b></br>
          {{ item.extra_info }}<br/>
          {{ item.requested }} + {{ item.duration }} days = {{ item.enddate }} <br/>
          <p>
            {% if item.editable %}
		<a href="{% url 'changestorage' pk=item.id %}">[change]</a> 
            {% elif item.location_updatable %}
		<a href="{% url 'changestorage' pk=item.id %}">[relocate]</a> 
            {% endif %}
            {% if item.deletable %}
		<a href="{% url 'deletestorage' pk=item.id  %}">[remove]</a>
            {% endif %}
	    <a href="{% url 'showhistory' pk=item.id  %}">[history]</a>
           </p>
	</td>
	<td>
	{% if item.expired %}
		expired
	{% endif %}
	</td>
  </tr>
  {% endfor %}
 </table>
{% endif %}

{% endfor %}
<hr>
<p>
<a href="{% url "index" %}">back</a> to the overview.
{% endblock %}
