Django==3.2.16
pytz
wheel
django-import-export
# django-autocomplete-light
django-search-admin-autocomplete
django-simple-history
qrcode
django-settings-export
django-stdimage
django-dynamic-filenames
django-six
six
django-import-export
# django-proxy
django-revproxy

# We're also including Pillow  as otherwise QR will fall back
# to SVG - which is not as supported.
Pillow
django-qr-code

# When using Postgress as the backing DB
# psycopg2-binary

# Determine client IP address
django-ipware

# PDF generation
reportlab
PyPDF2

# Mailman scraping API
lxml

# JSON fields in the DB model
jsonfield2

# For production
# mysqlclient

# Petty cash
django-money

# Reverse proxy for the 3D printers
requests
dateutils
