Django
pytz
django-import-export
# django-autocomplete-light
django-simple-history
qrcode
django-qrcode
django-settings-export
django-stdimage
django-dynamic-filenames

# When using Postgress as the backing DB
# psycopg2-binary

# For production
mysqlclient
