{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load agenda_badge %}

{% block content %}

<div class="row">
    <div class="col-md-9 mb-3">
        <p class="lead">Upcoming events and chores.</p>
        <p>Please feel free to <a href="{% url 'agenda_create' %}">add items</a>.</p>
    </div>
    <div class="col-md-3 mb-3 d-flex justify-content-end align-items-center">
        <a href="{% url 'agenda_create' %}" class="btn btn-primary btn-primary-custom text-light">
            Create New
        </a>
    </div>
</div>
<div class="row mt-1">

    <!-- Agenda item text -->
    <div class="col-md-8 order-0 order-md-0 pt-2">
        <div class="card pt-0 pb-1" id="item-text">
            <div class="card-body">

                {% if selected_item %}
                    <div class="d-flex justify-content-between align-items-start">
                        <h2 class="col-md my-0">
                            {{ selected_item.item_title }}
                        </h2>
                        {% if selected_item.type == "chore" %}
                            {% agenda_badge selected_item %}
                        {% endif %}

                    </div>
                    <div>
                        <h3>
                            {{ selected_item.display_datetime }}
                            {% if selected_item.location %}
                            <span>
                                @ {{ selected_item.location.name }}
                            </span>
                            {% endif %}
                        </h3>
                    </div>

                    {% if object_list %}
                        <div class="row">
                            <div class="card-text mt-4 mb-4">
                                {{ selected_item.item_details|linebreaksbr|urlize }}

                                {% if selected_item.type == 'chore' %}
                                        <a href="{{ selected_item.chore.wiki_url }}">
                                            More information available in the Wiki
                                        </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row row-sticky-bottom">

                            <div class="creation-info d-flex justify-content-between align-items-center">
                                <small>
                                    {% if selected_item.type == 'chore' %}
                                        Created by <a href="{% url 'chore_detail' selected_item.chore.id %}">
                                            Chore: {{ selected_item.chore.name }}
                                        </a>
                                    {% else %}
                                        Created: {{ creation_date|date:"l j M Y H:i" }}
                                        {% if created_by.path %}
                                            by
                                        <a href="{{created_by.path}}">
                                            {{ created_by.first_name }}
                                        </a>
                                        {% endif %}
                                    {% endif %}
                                </small>

                                <div class="col-auto pe-0">
                                    <a href="{% url 'agenda_update' selected_item.pk %}"
                                        class="btn btn-outline-secondary btn-sm">
                                        Edit
                                    </a>
                                    {% if selected_item.type != 'chore' %}
                                        <a href="{% url 'agenda_create' %}?copy_from={{ selected_item.id }}"
                                            class="btn btn-outline-secondary btn-sm">
                                            Copy
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            {% if is_updated %}
                                <div class="update-info">
                                    <small>
                                        Last edited: {{ update_date|date:"l j M Y H:i" }}
                                        {% if updated_by.first_name != "" %}
                                        by
                                        <a href="{{updated_by.path}}">
                                            {{ updated_by.first_name }}
                                        </a>
                                        {% endif %}
                                    </small>

                                </div>
                            {% endif %}
                        </div>
                    {% endif %}

                {% else %}
                    <small>No upcoming events</small>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- List of agenda items -->
    <div class="col-md-4 order-2 order-md-1 pt-1" id="list-of-agenda-items">
        {% if selected_item.type == 'chore' %}
        <div class="card mb-3">
            <div class="card-header">
                <h2 class="card-title">Update status</h2>
            </div>
            <div class="card-body">
                <form method="post"
                action="{% url 'agenda_update_status' selected_item.pk %}">
                    {% csrf_token %}
                    <div class="d-flex justify-content-between align-items-center">
                        {{ form }}
                    </div>
                    <div>
                        <button class="btn btn-primary mt-3">Update</button>
                    </div>
                </form>

            </div>
        </div>
        {% endif %}
        <div>
            <h2 class="mt-0">All events</h2>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <label class="form-check-label mb-0" for="toggleHistory" align="center">Include history</label>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="toggleHistory">
            </div>
        </div>
        {% if object_list %}
            <div class="scrollable rounded" style="max-height: 600px; overflow-y: auto;">
                <ul class="list-group">
                    {% for agenda_item in object_list %}
                    <a class="list-group-item list-group-item-action pt-2 pb-1 " href="{% url 'agenda_detail' pk=agenda_item.pk %}?show_history={{ show_history }}" {% if selected_item.pk == agenda_item.pk %} style="border: 1px solid #606060; border-top-width: 1px; " {% endif %}>

                        <div class="row">
                                <div class="col text-secondary" style="font-size: 14px;  ">
                                    {{ agenda_item.display_datetime }}

                                    {% if agenda_item.location %}
                                    <span>
                                        @ {{ agenda_item.location.name }}
                                    </span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {% if agenda_item.item_title|length > 30 %}{{ agenda_item.item_title|slice:":30" }}...{% else %}{{ agenda_item.item_title }}{% endif %}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
        <div class="mt-3">
            No upcoming events
        </div>
        {% endif %}
    </div>
</div>
<style>
    .list-group-item-secondary {
            background-color: rgb(246, 246, 246) !important;
        }

    .card-body {
        display: flex;
        flex-direction: column;
        }

    .creation-info,
    .update-info {
        margin-top: auto;
        }

    .row-sticky-bottom {
        margin-top: auto;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get the toggle switch element
        var showHistorySwitch = document.getElementById('toggleHistory');

        // Get the value of show_history from the context variable
        var showHistoryValue = "{{ show_history }}";

        // Update switch state based on show_history value
        if (showHistoryValue === 'on') {
            showHistorySwitch.checked = true;
        } else {
            showHistorySwitch.checked = false;
        }

        // Add event listener for switch change
        showHistorySwitch.addEventListener('change', function(event) {
            var state = event.target.checked ? 'on' : 'off';
            updateUrlParameter('show_history', state);
        });

        // Function to update URL parameter
        function updateUrlParameter(key, value) {
            var url = new URL(window.location.href);
            url.searchParams.set(key, value);
            window.location.href = url.toString();
        }
    });
</script>

{% endblock %}
