{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
{{ form.media.css }}
{{ form.media.js }}


<div class="row">
  <div class="col-lg-8">
    <form method="post">
      {% csrf_token %}

      <!-- Display validation errors -->
      {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        Please correct the following:
        <ul>
          {% for field, error_list in form.errors.items %}
            {% for error in error_list %}
              <li> {{ error }}</li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}

        <div class="row mb-3">
            <div class="col-md-4">
              <label for="startdate" class="form-label">Start date time:</label>
              <div class="input-group" id="custom_startdate_group" >
                  {{ form.startdatetime }}
              </div>
            </div>
            <div class="col-md-6">
              <label for="enddate" class="form-label">End date time:</label>
              <div class="input-group" id="custom_enddate_group">
                  {{ form.enddatetime }}
              </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="item_title" class="form-label">Agenda item title:</label>
            <textarea id="item_title" name="item_title" class="form-control" rows="1" maxlength="600">{{ form.item_title.value }}</textarea>
        </div>

        <div class="mb-3">
            <label for="item_details" class="form-label">Agenda item details:</label> <small>&nbsp; (Not required.)</small>
            <textarea id="item_details" name="item_details" class="form-control" rows="8" wrap="soft">{{ form.item_details.value }}</textarea>
        </div>

        <div class="mb-3">
            <label for="item_location" class="form-label">Location:</label> <small>&nbsp; (Not required.)</small>
            <select id="item_location" name="location" class="form-control">
                <option value="">None</option>
                {% for location in locations %}
                    <option value="{{ location.id }}" {% if form.instance.location == location %}selected{% endif %}>{{ location.name }}</option>
                {% endfor %}
            </select>

        </div>

        {% if form.instance.recurrence_parent %}
          <div class="card" data-test-hook="recurrence-parent-agenda-item-found">
            <div class="card-body">
              This agenda item was created from the recurrence pattern in: <a href="{% url 'agenda_detail' pk=form.instance.recurrence_parent.pk %}">{{ form.instance.recurrence_parent.item_title }}</a>. <br/>
              You can edit this item in isolation. Or if you want to adjust the recurrence pattern, you can do so in the <a href="{% url 'agenda_update' pk=form.instance.recurrence_parent.pk %}">parent&nbsp;item</a>
            </div>
          </div>

        {% else %}
          <details class="card" xopen>
            <summary class="card-header">
              Does this item repeat?
            </summary>
            <div class="card-body" data-test-hook="recurrence-rule-input">
              <h4 class="mt-0">Repeats every:</h4>
              <p>
                Use the <a href="https://icalendar.org/iCalendar-RFC-5545/3-8-5-3-recurrence-rule.html" target="_blank">RRULE format</a>, to specify the recurrence pattern. You can <a href="https://icalendar.org/rrule-tool.html">use the RRule Generator tool</a> to help you with  the formatting.
              </p>
                <input type="text" id="recurrences" name="recurrences" class="form-control" value="{{ form.recurrences.value }}" maxlength="255">
              <div class="mt-2">
                Some examples:
                <ul>
                  <li>
                    <pre class="d-inline">FREQ=MONTHLY;INTERVAL=1;BYDAY=1MO</pre> 1st Monday of each month. Repeat for ever
                  </li>
                  <li>
                    <pre class="d-inline">FREQ=WEEKLY;INTERVAL=1;BYDAY=SA;COUNT=12</pre> Every Saturday, for the next 12 weeks
                  </li>
                </ul>
              </div>
            </div>
          </details>
        {% endif %}

        <div class="mt-3">
            {% if title == 'Edit agenda item' %}
                <button type="button" onclick="window.location.href='{% url 'agenda_detail' pk=form.instance.pk %}'" class="btn btn-secondary me-1">Back</button>
                <button type="submit" class="btn btn-primary btn-primary-custom me-1">Save</button>
                <button type="button" onclick="window.location.href='{% url 'agenda_delete' pk=form.instance.pk %}'" class="btn btn-danger me-1">Delete</button>
            {% endif %}
            {% if title == 'Create new agenda item' %}
                <button type="button" onclick="window.location.href='{% url 'agenda' %}'" class="btn btn-secondary me-1">Cancel</button>
                <button type="submit" class="btn btn-primary btn-primary-custom me-1">Create</button>
            {% endif %}
        </div>

    </form>
  </div>
</div>

{% endblock %}
