{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}


<div class="col-md-9 mb-3">
    This is the agenda to add and view events. To add new events, use 'Create New'.
    Click on an event in 'All events' to view details or
    toggle 'Include history' to see past events. Only the next 5 upcoming events will be
    shown on the home page. Feel free to create new events!
</div>
<div class="row mt-1">

    <!-- Agenda item text -->
    <div class="col-md-9 order-0 order-md-0 pt-2">
        <div class="card scrollable pt-0 pb-1" id="item-text">
            <div class="card-body" style="max-height: 600px; min-height:250px; overflow-y: auto;">

                {% if selected_item %}
                    <div class="row">
                        <h2 class="col-md pb-2 pt-0 mt-0">
                            {{ selected_item.item_title }}
                        </h2>
                    </div>
                    <div class="row">
                        <div class="col-xl-1 col-lg-2 col-12" style="font-weight:600;">
                            From:
                        </div>
                        <div class="col-md">
                            {{ selected_item.start_datetime|date:"l j M Y" }} - {{ selected_item.start_datetime|time:"H:i" }}
                        </div>
                    </div>

                    {% if selected_item.end_datetime %}
                    <div class="row">
                        <div class="col-xl-1 col-lg-2 col-12" style="font-weight:600;">
                            To:
                        </div>
                        <div class="col-md">
                            {{ selected_item.end_datetime|date:"l j M Y" }} - {{ selected_item.end_datetime|time:"H:i" }}
                        </div>
                    </div>
                    {% endif %}

                    {% if object_list %}
                        <div class="row">
                            <div class="card-text mt-4 mb-4" style="word-wrap: break-word; white-space: pre-wrap;">{{ selected_item.item_details|urlize }}
                            </div>
                            <br>
                        </div>
                        <div class="row row-sticky-bottom">

                            <div class="creation-info d-flex justify-content-between align-items-center">
                                <small>
                                    Created: {{ creation_date|date:"l j M Y H:i" }} by
                                    <a href="{{created_by.path}}">
                                        {{ created_by.first_name }}
                                    </a>
                                </small>

                                <div class="col-auto pe-0">
                                    <a href="{% url 'agenda_update' selected_item.pk %}"
                                        class="btn btn-outline-secondary btn-sm">
                                        Edit
                                    </a>
                                    <a href="{% url 'agenda_create' %}?copy_from={{ selected_item.id }}"
                                        class="btn btn-outline-secondary btn-sm">
                                        Copy
                                    </a>
                                </div>
                            </div>
                            {% if is_updated %}
                                <div class="update-info">
                                    <small>
                                        Last edited: {{ update_date|date:"l j M Y H:i" }} by
                                        <a href="{{updated_by.path}}">
                                            {{ updated_by.first_name }}
                                        </a>
                                    </small>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}

                {% else %}
                    <small>No upcoming events</small>
                {% endif %}
            </div>
        </div>
        <div>
            <div class="row pt-2 pb-4">
                <div class="col-auto pe-0">
                    <button type="button" onclick="window.location.href='{% url 'index' %}'" class="btn btn-secondary">Back</button>
                </div>
                <div class="col-auto">
                    <button type="button" onclick="window.location.href='{% url 'agenda_create' %}'" class="btn btn-primary btn-primary-custom">Create New</button>
                </div>
            </div>
        </div>
    </div>

    <!-- List of agenda items -->
    <div class="col-md-3 order-2 order-md-1 pt-1" id="list-of-agenda-items">
        <div>
            <h2 style="margin-top:0 !important;">All events</h2>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <label class="form-check-label mb-0" for="toggleHistory" align="center">Include history</label>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="toggleHistory">
            </div>
        </div>
        {% if object_list %}
            <div class="scrollable rounded" style="max-height: 600px; overflow-y: auto;">
                <ul class="list-group">
                    {% for agenda_item in object_list %}
                    <a class="list-group-item list-group-item-action pt-2 pb-1 " href="{% url 'agenda_detail' pk=agenda_item.pk %}?show_history={{ show_history }}" {% if selected_item.pk == agenda_item.pk %} style="border: 1px solid #606060; border-top-width: 1px; " {% endif %}>

                        <div class="row">
                                <div class="col text-secondary" style="font-size: 14px;  ">
                                    {{ agenda_item.start_datetime|date:"d-m-Y" }} - {{ agenda_item.start_datetime|time:"H:i"  }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {% if agenda_item.item_title|length > 30 %}{{ agenda_item.item_title|slice:":30" }}...{% else %}{{ agenda_item.item_title }}{% endif %}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
        <div class="mt-3">
            No upcoming events
        </div>
        {% endif %}
    </div>
</div>
<style>
    .list-group-item-secondary {
            background-color: rgb(246, 246, 246) !important;
        }

    .card-body {
        display: flex;
        flex-direction: column;
        }

    .creation-info,
    .update-info {
        margin-top: auto;
        }

    .row-sticky-bottom {
        margin-top: auto;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get the toggle switch element
        var showHistorySwitch = document.getElementById('toggleHistory');

        // Get the value of show_history from the context variable
        var showHistoryValue = "{{ show_history }}";

        // Update switch state based on show_history value
        if (showHistoryValue === 'on') {
            showHistorySwitch.checked = true;
        } else {
            showHistorySwitch.checked = false;
        }

        // Add event listener for switch change
        showHistorySwitch.addEventListener('change', function(event) {
            var state = event.target.checked ? 'on' : 'off';
            updateUrlParameter('show_history', state);
        });

        // Function to update URL parameter
        function updateUrlParameter(key, value) {
            var url = new URL(window.location.href);
            url.searchParams.set(key, value);
            window.location.href = url.toString();
        }
    });
</script>

{% endblock %}
