{% extends 'base.html' %}

{% block content %}
{% if machines.count == 1 %}
<h1><hr/>XS matrix for {{ machines.first }} <hr/></h1>
<table>
	<tr><td alight=right>Machine: </td><td>{{ machines.first.name }}
	{% if machines.first.out_of_order %}
		<span class="badge bg-danger ms-1 mt-0">OUT OF ORDER</span>
{% endif %}
        </td></tr>
	<tr><td alight=right></td><td>{{ machines.first.description}}<br/></td></tr>
{%if True %}
	<tr><td alight=right>Service</td><td>Service log <a href="{% url 'service_log_view' machine_id=machines.first.id %}">[view]</a>
	<br/>
	Report this machine
   {% if machines.first.out_of_order %}
					<a href="{% url 'service_log_crud' machine_id=machines.first.id %}">[repaired]</a>
   {% else %}
					<a href="{% url 'service_log_crud' machine_id=machines.first.id %}">[out of order]</a>
   {% endif %}
        </td></tr>
{% endif %}
{%if user.is_privileged %}
	<tr><td alight=right>Recent use: </td><td>
            {% if used %}
		{% for r in used %}
			<a href="{{ r.user.path }}">{{ r.user }}</a> <i>({{ r.used }})</i><br>
		{% endfor %}
		<p>
		<i>Note: it is possible that this list contains ommissions. As no record is kept when, for example, the ADSL connection is down. It can also contain (accidental) swipes; which were every followed up by someone actually switching the power on or running the motor. See the logs for this. Also - when there are consequitive swipes by the same user - actual use may have started earlier. And finally - this list is limited in both number of days and entries it shows.  </i>
		</p>
            {% else %}
		<i>No recent use recorded.</i>
            {% endif %}
	</td></tr>
{% endif %}
	<tr><td alight=right>Location: </td><td>{{ machines.first.location}}</td></tr>

	{% if machines.first.wiki_title %}
		<tr>
			<td>Wiki:</td>
			<td><a href="{{ machines.first.wiki_url }}" target="_blank"> {{ machines.first.wiki_title }} </a></td>
		</tr>
	{% endif %}

	<tr><td alight=right>Waiver: </td><td>
			{% if  machines.first.requires_form %}
			The waiver form needs to be on file.
			{% else %}
			Not required.
			{% endif %}
		</td></tr>
		<tr><td alight=right>Instruction: </td>
			<td>{% if machines.first.requires_permit %}
				Instructions are required ({{ machines.first.requires_permit }}).<p/>
			{% if instructors %}
			<br/>Instructions can be given by:
			<ol>
			{% for ee in instructors %}
			{% for e in ee %}
			<li><a href="{{ e.holder.path }}">{{ e.holder }}</a>
				{% if e.active %}
				<!-- active -->
				{% else %}
				(not active)
				{% endif %}
			{% endfor %}
		 	{% endfor %}
			</ol>
			{% endif %}
			{% else %}
			None required.
			{% endif %}
			</td></tr>
</table>
{% else %}
<h1><hr/>Full access and instruction matrix<hr/></h1>
{% endif %}

{% if lst %}
<table>
	<tr>
	<th></th>
    	{% for machine in machines %}
	<th><a href="{{machine.id}}">{{ machine }}</a></th>
    	{% endfor %}
	</tr>
    	{% for member in members %}
	<tr>
	<td align=right>
	<i><a href="{{ member.path }}">{{member}}</a></i></td>
	<!-- very slow - but cannot find a way to do lst.machine.member.xs -->
	{% for machine,mbrs in lst.items %}
	   {% for mbr,info in mbrs.items %}
            {%if mbr == member %}
                <td>
                {%if info.xs %}yes{%endif%}
		</td>
            {% endif %}
    	   {% endfor %}
    	{% endfor %}
	</tr>
    	{% endfor %}
</table>
{% else %}
    <p>Nothing configured yet.</p>
{% endif %}

{% endblock %}
