{% extends 'base.html' %}

{% load qr_code  %}

{% block content %}

{% if member.image %}
	<a href="{{ member.image.url }}"><img alt="" src="{{ member.image.medium.url   }}"/></a>
{% endif %}

{% if lst %}
<table>
	<tr>
		<td colspan=2><h3>Personal details</h3>
		{% if member == user %}
		<hr/>
		<a href="{% url 'userdetails' %}">edit your own user details</a>
		<p/>
		{% endif %}
		</td>
		<td valign=top rowspan=5 align=center>{% qr_from_text member.url size="m" border=1 %}<br/><code><font size=-3>{{ member.url }}</font></center></td>
	</tr>
{% if member.image %}
	<!-- image is outside the table - above it -->
{% else %}
   {% if member == user %}
	<tr valign=top>
		<td align=right>Profile image</td>
		<td><a href="{% url 'userdetails' %}">[ Add profile image ]</a></td>
	</tr>
   {% endif %}
{% endif %}
	<tr valign=top>
		<td align=right>First name</td><td>{{ member.first_name}}</td>
	</tr>
	<tr><td align=right>Last name</td><td>{{ member.last_name }}</td></tr>
	<tr><td align=right>Email (username)</td><td>{{ member.email}}</td></tr>
	{%if user.is_superuser or member == user %}
        {% if member.phone_number %}
	<tr><td align=right>Phone:</td><td>{{ member.phone_number }}<p/><i>Note: this field is only visible to the member and the admins</i></td></tr>
        {%endif %}
        {%endif %}
	<tr><td align=right>Waiver on file</td><td>
			{%if member.form_on_file %} yes {% else %} no <a href="{% url 'waiverform' %}" target="_blank">[ Download form ]</a>{% endif %}
			</td></tr>
	{%if member == user %}
			<tr><td></td><td><a href="{% url 'userdetails' %}">[edit]</a></td><td>
	{% endif %}
	{%if member.is_staff %}
			<tr><td></td><td>Can edit databases (staff)</td><td>
	{% endif %}
	{%if member.is_superuser%}
			<tr><td></td><td>Is a superuser</td><td>
	{% endif %}

	{%if permits %}
	<tr><td colspan=2><h3>Special Permits and Instructions</h3></tr>
	{%for p in permits %}
	<tr><td align=right>{{ p.permit.name }}</td><td>{{ p.permit.description }}
			{% if not p.active %}
			Not active at this time (awaiting Trustee approval).
			{% endif %}
		</td></tr>
	{%endfor %}
	{% endif %}
{% if tags %}
	<tr><td colspan=2><h3>Tags</h3></tr>
        {% for tag in tags %}
		<tr><td></td><td>{{ tag.tag }}</td></tr>
	{% endfor %}
	<tr><td></td><td width=400><i>Note: above is only visible to member and the admins. Keep confidential as tags are trivial to clone once you know this number.</i></tr>
{% endif %}
	<tr><td colspan=2><h3><a href="{% url 'boxes' %}">Boxes</h3></tr>
	{% if boxes %}
        {% for box in boxes %}
	<tr><td align=right>{{ box.location }} </td><td>
			{% if box.extra_info %}
				{{ box.extra_info }}
			{% else %}
				{{ box }}
			{% endif %}
			{% if box.image %}
				<br><a href="{{ box.image.url }}"><img alt="" src="{{ box.image.thumbnail.url  }}"/></a>
			{% endif %}
			<br>
			<a href="{% url 'changebox' pk=box.id %}">[update]</a>
	{%if member == user %}
			<a href="{% url 'deletebox' pk=box.id %}">[delete]</a>
	{% endif %}
		</td></tr>
	{% endfor %}
	{% else %}
	<tr><td></td><td>
		<i>no box assigned yet.</i>
		<a href="{% url 'addbox' %}">[add]</a>
		</td></tr>
	{% endif %}

	<tr><td colspan=2><h3><a href="{% url 'storage' %}">Storage</a></h3></tr>
	{% if storage %}
        {% for box in storage %}
	<tr><td align=right>
			{{ box.location }}<br>
		</td><td>
			{{ box.duration }} days until {{ box.enddate }}<br>
			<b>{{ box.get_state_display }}</b><br>
			{{ box.extra_info }}<br>
			{% if box.image %}
                                 <a href="{{ box.owner_path }}"><img alt="" src="{{ box.image.thumbnail.url  }}"/></a><br/>
			{% endif %}
			<a href="{{ box.path }}">[view]</a>
			<a href="{% url 'changestorage' pk=box.id %}">[update]</a>
	{%if member == user %}
			<a href="{% url 'deletestorage' pk=box.id %}">[delete]</a>
	{% endif %}
		</td></tr>
	{% endfor %}
	{% else %}
	<tr><td></td><td>
		<i>no items in special storage</i>
		<p>
		<a href="{% url 'addstorage' %}">[request extra storage]</a>
		</td></tr>
	{% endif %}

	<tr><td colspan=2><h3>Entitlements</h3></tr>
	{% for machine,info in lst.items %}
	<tr>
		<td align=right><a href="{{ info.path }}">{{ machine }}</a></td>
		<td>
                {%if info.xs == True %}
		<b>
			yes
		</b>
	                {%if info.requires_permit %}
	 			-- permit '{{ info.requires_permit }}'
	                {% if info.requires_form and member.form_on_file == True  %}
				and liability waiver form
				{% endif %}
			on file.
			{% elif info.requires_instruction == False %}
			    -- <i>(no instructions needed)</i>
			{% endif %}
                {% else %}
		<i>
			no.
	                {% if info.requires_permit %}
			{% if info.has_permit %}
	 		Already has the required permit
	                {% if not info.activated %}
			but it is not yet activated by a trustee
			{% endif %}.
			{% else %}
			Requires the permit
			'{{ info.requires_permit }}'.
			{% endif %}
			{% else %}
	                {%if info.requires_instruction == True %}
                        Instruction needed.
			{% endif %}
			{% endif %}
	                {%if info.requires_form == True %}
			The required liability waiver
				{%if member.form_on_file == False %}
				is not yet filed.
				{% else %}
				is already on file.
			        {% endif %}
			{% endif %}
		<i/>
                   {% endif %}
               </td>
    	{% endfor %}
	</tr>
	<tr><td></td><td><a href="{% url 'add_instruction' %}">[add]</a></td><td>
</table>
{% else %}
    <p>Nothing configured yet.</p>
{% endif %}
{% endblock %}
