{% extends 'base.html' %}

{% block content %}

<h2>Total: {{ num_active }} active members</h2>
{%if user.is_privileged %}
{{ num_members }} accounts in the database, of which {{ num_inactive }} set to inactive.
{% endif %}

<table>
    {% for m in members %}
    <tr>
        <td>
            {% if m.image %}
                <a href="{{ m.image.url }}"><img alt="" src="{{ m.image.thumbnail.url   }}"/></a>
            {% endif%}
        </td>
        <td>
            <a href="{{ m.path }}">
		    {% if m.is_active %}
		    {{ m }}
		    {% else %}
		    <i><s>{{ m }}</s></i> Deactivated.<br>Last record change: {{ m.history.first.history_date }} {{ m.history.first.changeReason }}
		    {% endif %}
	    </a>
        </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}
