{% extends 'base.html' %}
{% load isingroup %}

{% block content %}

{% if tx %}
<table>
	<tr><td align=right>Date:</td><td>{{ tx.date|date:'Y-m-d H:i' }}</td><tr>
	<tr><td align=right>From:</td><td>
                                {% if tx.src.id == settings.POT_ID %}
                                        {{ settings.POT_LABEL }}
                                {% else %}
                                        {{ tx.src }}
                                {% endif %}
		</td><tr>
	<tr><td align=right>To:</td><td>
                                {% if tx.dst.id == settings.POT_ID %}
                                        {{ settings.POT_LABEL }}
                                {% else %}
                                        {{ tx.dst}}
                                {% endif %}
		</td><tr>
	<tr><td align=right>Description:</td><td>{{ tx.description}}</td><tr>
	<tr><td align=right>Amount:</td><td>{{ tx.amount}}</td><tr>
	<tr><td align=right></td><td>
		<table>
		<tr>
 		   <th>What</th><th>When</th><th>Who</th><th>Comments</th>
		{% for h in tx.history.all %}
		<tr>
		   <td>{{ h.get_history_type_display }}</td>
		   <td>{{ h.date|date:'Y-m-d H:i' }}</td>
		   <td>{{ h.history_user}}</td>
		   <td>{{ h.history_change_reason }}</td>
           	</tr>
		<tr><td colspan=3>
<h3>Wrong transaction ? </h3>
<p>
If you feel this is not correct - you can <a href="{% url 'delete' pk=tx.id  %}">[delete]</a> this transaction.
			</td>
		{% endfor %}
		</table>
</table>
{% else %}
<i>No transaction found.</i>
{% endif %}

<pre>


</pre>
<hr>
Return to the <a href="{% url 'transactions' pk=tx.dst.id  %}">[transactions]</a>.


{% endblock %}
