{% extends 'base.html' %}
{% load isingroup %}
{% load qr_code  %}

{% block content %}

<table>
	<tr><th>Member</th><th>Last change</th><th>Balance</th></tr>
	{% for b in lst %}
	{% if b.owner|isInPettycashDemGroupo %}
          {% if user.is_privileged or b.owner.id != settings.POT_ID or 1 %}
		<tr>
			<td>
			<a href="{% url 'transactions' pk=b.owner.id %}">
          		{% if b.owner.id == settings.POT_ID %}
				{{ settings.POT_LABEL }}
			{% else %}
				{{b.owner }}
			{% endif %}
			</a></td>
			<td>
			{% if b.last %}
				{{ b.last.date }}
			{% else %}
				<i>never</i>
			{% endif %}
			</td>
			<td>{{ b.balance }}</td>
                        {% if user.id == b.owner.id %}
				<td><a href="{% url 'invoice' src=b.owner.id %}">[pay to {{ settings.POT_LABEL }}]</a></td>
                        {% else %}
				<td><a href="{% url 'transfer' src=user.id dst=b.owner.id %}">[pay]</a></td>
			{% endif %}
			{% if user.is_privileged and b.owner.id != settings.POT_ID %}
				<td><a href="{% url 'deposit' dst=b.owner.id %}">[deposit]</a></td>
			{% endif %}
		</tr>
            {% endif %}
          {% endif %}
	{% endfor %}
</table>
<pre>



</pre>

<h2>Pricelist</h2>

A pricelist can be found <a href='{% url "pricelist" %}'>here</a>.

{% if user.is_privileged %}
<h2>Terminal and station management</h2>
See <a href='{% url "unpaired" %}'>here</a> (<i>only visible to privelidged users</i>)
{% endif %}

<p>
<hr>
Back to your <a href="{% url "mytransactions" %}">overview</a>.

{% endblock %}

