{% extends 'base.html' %}
{% load qr_code  %}
{% load isingroup %}

{% block content %}

To make a deposit to your balance you should do a wire transfer to the following account:

<table>
	<tr>
		<td align=right>IBAN</td>
		<td>{{ settings.PETTYCASH_IBAN }} </td>
	</tr>
	<tr>
		<td align=right>ten name van:</td>
		<td>{{ settings.PETTYCASH_TNS }} </td>
	</tr>
	<tr>
		<td align=right>onder vermelding van</td>
		<td>
			<code>Storting Spacepot {{ user.id }} / {{ user }}</code>
		</td>
	</tr>
</table>
<p>
<i>You must use exactly above descriptive strings; as this is what automates the process.
<p>
If you don't it may take longer. Or you may have to remind the trustee's in a few weeks time.
</i>
<pre>


</pre>
If your bank supports it - you can also scan the EPC QR code below (usually with your banking app).
<p>
<blockquote>
{% qr_from_text epc size="m" border=1 %}
</blockquote>
<p>
<hr>
Back to <a href="{% url 'mytransactions' %}">to the main page</a>.
{% endblock %}
