{% extends 'base.html' %}

{% block content %}
{% if tx.accepted %}
<!-- this unit was accepted before -->
{% else %}
<h2>Important</h2>

<p>This is the first time this terminal gets paired.</p>

<p>To make sure that the connection is secure, double check that the pairing code
that is currently shown on the display is correct.  </p>

<p>The display should show:</p>
<p>
	<blockquote>PAIR <code><font size=+4>{{ tx.paircode }}</code></font></blockquote>
</p>
And only continue if these two numbers are identical. </p>
<p>If not then something is not secure.</p>
<pre>


</pre>
{%endif%}

<form method="post"  enctype="multipart/form-data">
<table>
    {% csrf_token %}
    {{ form.as_table }}
    <tr>
	    <td></td>
	    <td>
		    <button type="submit">{{ action }}</button>
			or <a href='{% url "unpaired" %}'>cancel</a>.
	    </td></tr>
</table>
</form>
<hr>
<p>
<a href='{% url "unpaired" %}'>back</a> to the overview of unpaired devices.
<p>
{% endblock %}
