{% extends 'base.html' %}

{% block content %}

{% if items %}
{% for item in items %}
<table>
<tr>
	<td><b>{{ item.tx.amount }}</b></td>
	<td>
	    {{ item.tx.description }}<br>
            {{ item.tx.date }}<br>
            <b>{{ item.tx.dst }}</b><br>
	    <p>
            <i>Submitted {{ item.tx.submitted }}</i>
            </d>
            <form method="post"  enctype="multipart/form-data">{% csrf_token %}
             <table>
              {{ item.form.as_table }}
              <tr><td></td><td>
                 <button name="submit" value="pay" type="submit">{% if item.tx.viaTheBank %}Approve to wire to the bank{% else %}Approve and deposit into the space account {% endif %} or reject</button><br>
{% if item.tx.viaTheBank %}<i>You need to do this manaully!</i><br>{% endif %}
              </td></tr>
             </table>
            </form>  
	</td>
</tr>
{% endfor %}
</table>


{% else %}
Nothing to handle right now. The Queue is empty.
{% endif %}
<hr>
<p>
<a href="{% url "mytransactions" %}">back</a> to the overview.
<p>
<!-- {{ form.errors }} {{ form.non_field_errors }} -->

{% endblock %}
