{% extends 'base.html' %}
{% load isingroup %}

{% block content %}

Current balance {% if balance == 0 %}&euro; 0,-{% else %}{{ balance.balance }}{% endif %}
<br>
<br>
<a href="https://wiki.makerspaceleiden.nl/mediawiki/index.php/SpaceTegoed">What is SpaceTegoed</a>
<br>
<a href="{% url 'transactions' user.id %}">View transactions</a>
<br>
<a href="{% url 'invoice' src=who.id %}">Pay for a product</a>
<br>
<a href="{% url 'transfer_to_member' src=who.id %}">Transfer SpaceTegoed to other member</a>

<br>
<a href="{% url 'manual_deposit' %}">Deposit money</a><br>

{% if balance.balance.amount > 5 %}
<a href="#">Withdraw money</a> (not yet implemented)<br>
{% endif %}

<p>
<hr>
<a href="{% url 'index' %}">back to the main page</a>
{% endblock %}
