{% extends 'base.html' %}
{% load isingroup %}

{% block content %}

					{{ settings.POT_LABEL }}
{% if lst %}
<table>
	<tr>
		<th>id</th>
		<th>Date</th>
		<th>Who</th>
		<th>Description</th>
		<th style="border-right: solid 1px;" align=right>IN</th>
		<th style="border-right: solid 1px;" align=right>OUT</th>
		<th align=right>Balance</th>
	</tr>
	{% for tx in lst %}
			{% if tx.src == who and tx.dst == who %}
			<tr>
				<td><a href="{% url 'transactiondetail' pk=tx.id %}"> {{ tx.id }}</a></td>
				<td>{{ tx.date }}</td>
				<td colspan=2><i>balance previous billing cycle<i></td>
				<td style="border-right: solid 1px" >{{ tx.amount}} </td>
				<td style="border-right: solid 1px" ></td>
				<td align=right></td>
			</tr>
			{% else %}
			{% if tx.src == who %}
			<tr>
				<td><a href="{% url 'transactiondetail' pk=tx.id %}"> {{ tx.id }}</a></td>
				<td>{{ tx.date }}</td>
				<td>
				{% if tx.dst.id == settings.POT_ID %}
					{{ settings.POT_LABEL }}
				{% else %}
					{{ tx.dst }} 
				{% endif %}
					<i>(paid)</i></td>
				<td>{{ tx.description }}</td>
				<td style="border-right: solid 1px" ></td>
				<td style="border-right: solid 1px" align=right>{{ tx.amount }}</td>
				<td></td>
			</tr>
			{% endif %}
			{% if tx.dst == who %}
			<tr>
				<td><a href="{% url 'transactiondetail' pk=tx.id %}"> {{ tx.id }}</a></td>
				<td>{{ tx.date }}</td>
				<td>
				{% if tx.src.id == settings.POT_ID %}
					{{ settings.POT_LABEL }}
				{% else %}
					{{ tx.src }} 
				{% endif %}
				<i>(recieved)</i></td>
				<td>{{ tx.description }}</td>
				<td style="border-right: solid 1px" align=right>{{ tx.amount }}</td>
				<td style="border-right: solid 1px" ></td>
				<td></td>
			</tr>
			{% endif %}
			{% endif %}
	{% endfor %}
	        <tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style="border-right: solid 1px" align=right>{{ in }}</td>
			<td style="border-right: solid 1px"align=right>{{ out}}</td>
			<td align=right><b>{{ balance.balance }}</b></td>
		</tr>
</table>
{% else %}
<i>No transactions.</i>
{% endif %}

<p>
Return to the <a href="{% url 'balances' %}">[balances]</a>.


{% endblock %}
