{% extends 'base.html' %}

{% block content %}

{% if items %}
Unknown tags swiped in the past {{ days }} days:
<p>
<table>
<tr><th>id</th><th>tag</th><th>last used </th></td>
{% for item in items %}
<tr>
  <td>{{ item.id }}</td>
  <td>{{ item.tag }}</td>
  <td>{{ item.last_used }} </td>
{% if user.is_privileged %}
  <td><a href="{% url 'addunknowntagtomember' tag_id=item.id %}">[assign to a member]</a></td>
{% endif %}
</tr>
{% endfor %}
</table>
{% else %}
No unknown tags recently swiped. Sorry.
{% endif %}

{% endblock %}
