{% extends 'base.html' %}

{% block content %}


<div class="mb-4">
	Below is the live video feed of the 3D printer Ultimaker 3 Extended, which is positioned the farthest to the right among the 3D printers.
	<br><br>
	Please note that the camera only works when the printer is on. If the printer is off, the video feed won't be available.
	<br><br>
	The video stills refresh every 10 seconds. If the video feed seems stuck, try reloading the page. For persistent issues, please notify via the email list.
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <script>
                setInterval(() => {
                    const cam = document.getElementById("snapshot");
                    cam.src = "snapshot?cachebust=" + new Date().getTime();
                }, 10 * 1000);
            </script>

            <img src="snapshot" id="snapshot" class="img-fluid" style="max-width: 100%; height: auto;"/>
        </div>
    </div>
</div>


{% endblock %}
