{% extends 'base.html' %}

{% block content %}
  <h2>{{ label }}</h2>
Note that due to the store-and-forward nature of queued email delivery - changing settings here may not have an immediate
effect. It is normaly to have emails `en-route' as the change takes hold. 
<h3>Mailing list  subscriptions {{ member }} </h3>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
{% for list, form in forms %}
    <tr><th>{{list.name}}</th><th>{{list.description}}</th></tr>
    <tr><td></td><td>
    <table>
    {% comment %} <tr><td>Archive</td><td><a href="{{ list.path }}">historic archive for {{ list.name }}</a></td></tr> {% endcomment %}
    {{ form.as_table }}
    </table>
    * Note: The digest feature is temporarily unavailable.
{% endfor %}

</table>
<button type="button" onclick="window.location.href='{% url cancel_button_url %}'" class="btn btn-secondary me-1">Back</button>
<button type="submit" class="btn btn-primary btn-primary-custom me-1">Save</button>
</form>

{% endblock %}
