{% extends 'base.html' %}
{% block content %}
{% load macros %}
{% macro box_macro item %}
   {% if item.box %}
        <div class="box full">
           <div class="hashover">
              {% if item.box.owner %}
                        <a href="{{ item.box.owner.path }}"><b>{{ item.box.owner.first_name }}</b></a>
              {% else %}
                          <i><a href="{% url 'changebox' pk=item.box.id %}">[unk]</a></i>
              {% endif %}
              <div class="showhover">
                  {% if item.box.owner %}
                    {{item.box.owner }}<br>
                  {% else %}
                  <i>owner unknown</i><br>
                  {% endif %}
                    {{ item.box.location }}<br>
                    {{item.box.extra_info}} {%if item.box.image %}<br>
                    <a href="{{ item.box.image.url  }}"><img alt="" src="{{ item.box.image.thumbnail.url   }}"></a>{%endif%}
             </div>
           </div>
   {% else %}
           <div class="box">
           {% if item.location %}
                      <a href="{% url 'claim' location=item.location %}"><i class="free">free</i></a>
	   {% else %}
                      N/A
           {% endif %}
    {% endif %}
    <div class="box-location">{{ item.location }}</div>
    </div>
{% endmacro %}

<style type="text/css" media="print">
  .dontprint {
	    display: none;
    }

  /* hides the navigation bar in base.html when printing */
  .navbar-block {
      display: none ;
  }

  /* hides the user-tools menu in base.html when printing */
  .user-tools {
      display: none ;
  }

  .user-profile-icon {
      display: none ;
  }

  .log-out-icon {
      display: none ;
  }
</style>

<style>
    .showhover { display: none; }
    .hashover:hover .showhover {
        display: block;
        position: absolute;
        background-color: white;
        border: 1px solid black;
        padding: 10px;
    }
    .box {
        padding: 10px;
        vertical-align: center;
        text-align: center;
    }
    .box.full {
        background-color: #b4cbdb;
    }
    .box_nouse {
        background-color: #eeeeee;
        text-color: #333333;
        text-align: center;
        vertical-align: middle;
     }
    .box_table {
        border-collapse: collapse;
    }
    .box_table tr td {
        margin: 0;
        padding: 3px;
        border: 1px solid lightgray;
    }
    .free {
        color: lightgray;
    }
    .box-location {
        margin-top: 10px;
        color: gray;
        text-align: center;
    }
</style>

<p width=100%>Members may have a <i>members box</i> with a fixed, assigned place.
  Unlike long-storage items, the members boxes are not time-limited.
    <br>For more info, see the
    <a href="https://wiki.makerspaceleiden.nl/mediawiki/index.php/Deelnemerskast" target="_blank" class="wiki-link" title="Open wiki page">
      <i class="fas fa-external-link-alt" style="font-size: 0.7em;"></i> wiki.
    </a>
</p>

<div class="dontprint">
<p><a href="{% url 'addbox' %}">[Add or Record] </a> a box/slot that is not yet in this overview.</p>

{% if yours %}
<h3 width=100%>Member box(es) and items with your name on it</h3>
<table>
 {% for item in yours %}
  <tr>
        <td><div class="hashover">
		{{ item.location }}
{%if item.image %}
        	<div class="showhover"><a href="{{ item.image.url  }}"><img alt="" src="{{ item.image.thumbnail.url  }}"></center></div>
{%endif%}
	</div>
	</td>
        <td>{{ item.extra_info }}</td>
        <td>
		<a href="{% url 'changebox' pk=item.id %}">[change]</a>
		<a href="{% url 'deletebox' pk=item.id  %}">[delete]</a>
	</td>
  </tr>
  {% endfor %}
</table>
{% else %}
Ask a trustee if you do not yet have a box/slot.
{% endif %}
</div>

<h2 width=100%>Members storage cupboards</h2>

<p>
The contents of the two main member cabinets along the long wall (on your left as you come in).
<p>

{% for storage in storages %}
<h3> {{ storage.description }}</h3>
<table class="box_table">
  {% for row in storage.boxes %}
  <tr>
    {% for item in row %}
       <td width=100px>
            {% usemacro box_macro item %}
       </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endfor %}


<h3>Boxes in the front room</h3>
<!-- very Makespaceleiden.nl specific; done by hand - as the numbering is not very logical -->
Boxes that are around the 3D printers. Note that the area above and left to the 3D printers is mostly for 3D printer spares.

<table class="box_table">
	<tr>
		<td>{% usemacro box_macro items_by_location|get_item:"M19" %}</td>
		<td>{% usemacro box_macro items_by_location|get_item:"M20" %}</td>
		<td>{% usemacro box_macro items_by_location|get_item:"M21" %}</td>
		<td>{% usemacro box_macro items_by_location|get_item:"M22" %}</td>
		<td>{% usemacro box_macro items_by_location|get_item:"M23" %}</td>
		<td>{% usemacro box_macro items_by_location|get_item:"M24" %}</td>
		<td>{% usemacro box_macro items_by_location|get_item:"M25" %}</td>
		<td>{% usemacro box_macro items_by_location|get_item:"M26" %}</td>
	</tr>
	<tr>
		<td>{% usemacro box_macro items_by_location|get_item:"M17" %}</td>
		<td>{% usemacro box_macro items_by_location|get_item:"M18" %}</td>
		<td colspan="2" rowspan="4" class=box_nouse>3d printing</td>
		<td colspan="2" rowspan="4" class=box_nouse>3d printing</td>
		<td colspan="2" rowspan="4" class=box_nouse>3d printing</td>
	</tr>
	<tr>
		<td colspan="2" class=box_nouse>makerspace<br>storage</td>
	</tr>
	<tr>
		<td colspan="2" class=box_nouse>makerspace<br>storage</td>
	</tr>
	<tr>
		<td colspan="2" class=box_nouse>makerspace<br>storage</td>
	</tr>
	<tr>
		<td>{% usemacro box_macro items_by_location|get_item:"M09" %}</td>
		<td>{% usemacro box_macro items_by_location|get_item:"M10" %}</td>
		<td>{% usemacro box_macro items_by_location|get_item:"M11" %}</td>
		<td>{% usemacro box_macro items_by_location|get_item:"M12" %}</td>
		<td>{% usemacro box_macro items_by_location|get_item:"M13" %}</td>
		<td>{% usemacro box_macro items_by_location|get_item:"M14" %}</td>
		<td>{% usemacro box_macro items_by_location|get_item:"M15" %}</td>
		<td>{% usemacro box_macro items_by_location|get_item:"M16" %}</td>
	</tr>
	<tr>
		<td>{% usemacro box_macro items_by_location|get_item:"M01" %}</td>
		<td>{% usemacro box_macro items_by_location|get_item:"M02" %}</td>
		<td>{% usemacro box_macro items_by_location|get_item:"M03" %}</td>
		<td>{% usemacro box_macro items_by_location|get_item:"M04" %}</td>
		<td>{% usemacro box_macro items_by_location|get_item:"M05" %}</td>
		<td>{% usemacro box_macro items_by_location|get_item:"M06" %}</td>
		<td>{% usemacro box_macro items_by_location|get_item:"M07" %}</td>
		<td>{% usemacro box_macro items_by_location|get_item:"M08" %}</td>
	</tr>
</table>

{% if floating %}
<h2>Other (non boxed storage)</h2>

<p>
In a few <i>exceptional</i> cases - there is permission for a member to store things outside his or her box.
</p>
<table>
  <tr><th>owner</th><th>location</th><th></th></tr>
  {% for item in floating %}
  <tr>
		  {% if item.owner %}
	  <td><a href="{{ item.owner.path  }}">{{ item.owner }}</a></td>
		  {% else %}
		  <td>  	<i>owner unknown</i></td>
		  {% endif %}
  	<td><div class="hashover">{{ item.location }}
{%if item.image %}
        	<div class="showhover"><a href="{{ item.image.url  }}"><img alt="" src="{{ item.image.thumbnail.url  }}"></center></div>
{%endif%}
</div>
	</td>
	<td>{{ item.extra_info }}</rd>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% if morethanone|length %}
<h2>People having more than one storage box or item</h2>

<table>
  <tr><th>person</th><th>number of items</th><th></th></tr>
  {% for person,count in morethanone.items %}
  <tr>
	  <td><a href="{{ person.path  }}">{{ person }}</a></td>
	  <td>{{ count }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<div class="dontprint">
<pre>


</pre>
<hr/>
<button type="button" value="Print" class="btn btn-secondary me-1"  onclick="window.print();return false;">Print</button>
</div>
{% endblock %}
