<style type="text/css" media="print">
    .dontprint { 
	display: none; 
    }
</style>
{% extends 'base.html' %}

{% block content %}

<style>
    .showhover { display: none; }
    .hashover:hover .showhover {
        display: block;
        position: absolute;
        background-color: white;
        border: 1px solid black;
        padding: 10px;
    }
    .box {
        padding: 10px;
        vertical-align: center;
        text-align: center;
    }
    .box.full {
        background-color: #b4cbdb;
    }
    .box_table {
        border-collapse: collapse;
    }
    .box_table tr td {
        margin: 0;
        padding: 3px;
        border: 1px solid lightgray;
    }
    .free {
        color: lightgray;
    }
    .box-location {
        margin-top: 10px;
        color: gray;
        text-align: center;
    }
</style>

<p>Members may have a <i>members box</i> which have a fixed, assigned, place. Unlike long-storage items - these are not time limited for members.</p>

<div class="dontprint">
<p><a href="{% url 'addbox' %}">[Add or Record] </a> a box/slot that is not yet in this overview.</p>

{% if yours %}
<h3>Member box(es) and items with your name on it</h3>
<table>
 {% for item in yours %}
  <tr>
        <td><div class="hashover">
		{{ item.location }}
{%if item.image %}
        	<div class="showhover"><a href="{{ item.image.url  }}"><img alt="" src="{{ item.image.thumbnail.url  }}"></center></div>
{%endif%}
	</div>
	</td>
        <td>{{ item.extra_info }}</td>
        <td>
		<a href="{% url 'changebox' pk=item.id %}">[change]</a>
		<a href="{% url 'deletebox' pk=item.id  %}">[delete]</a>
	</td>
  </tr>
  {% endfor %}
</table>
{% else %}
Ask a trustee if you do not yet have a box/slot.
{% endif %}
</div>

<h2>Members storage cupboards</h2>

<p>
The contents of the two main member cabinets along the long wall (on your left as you come in).
<p>

{% for storage in storages %}
<h3> {{ storage.description }}</h3>
<table class="box_table">
  {% for row in storage.boxes %}
  <tr>
    {% for item in row %}
       <td width=100px>
            {% if item.box %}
              <div class="box full">
		      <div class="hashover">
		  {% if item.box.owner %}
                  	<a href="{{ item.box.owner.path }}"><b>{{ item.box.owner.first_name }}</b></a>
		  {% else %}
			  <i><a href="{% url 'changebox' pk=item.box.id %}">[unk]</a></i>
		  {% endif %}
			    <div class="showhover">
		  {% if item.box.owner %}
                    {{item.box.owner }}<br>
		  {% else %}
		  <i>owner unknown</i><br>
		  {% endif %}
                    {{ item.box.location }}<br>
                    {{item.box.extra_info}} {%if item.box.image %}<br>
                    <a href="{{ item.box.image.url  }}"><img alt="" src="{{ item.box.image.thumbnail.url   }}"></a>{%endif%}
                </div>
              </div>
	        {% else %}
              <div class="box">
              <i class="free">free</i>
	        {% endif %}
            <div class="box-location">{{ item.location }}</div>
		  </div>
       </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endfor %}

{% if floating %}
<h2>Other (non boxed storage)</h2>

<p>
In a few <i>exceptional</i> cases - there is permission for a member to store things outside his or her box.
</p>
<table>
  <tr><th>owner</th><th>location</th><th></th></tr>
  {% for item in floating %}
  <tr>
		  {% if item.owner %}
	  <td><a href="{{ item.owner.path  }}">{{ item.owner }}</a></td>
		  {% else %}
		  <td>  	<i>owner unknown</i></td>
		  {% endif %}
  	<td><div class="hashover">{{ item.location }}
{%if item.image %}
        	<div class="showhover"><a href="{{ item.image.url  }}"><img alt="" src="{{ item.image.thumbnail.url  }}"></center></div>
{%endif%}
</div>
	</td>
	<td>{{ item.extra_info }}</rd>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% if morethanone|length %}
<h2>People having more than one storage box or item</h2>

<table>
  <tr><th>person</th><th>number of items</th><th></th></tr>
  {% for person,count in morethanone.items %}
  <tr>
	  <td><a href="{{ person.path  }}">{{ person }}</a></td>
	  <td>{{ count }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<div class="dontprint">
<pre>


</pre>
<hr/>
<input type=button value="Print" onclick="window.print();return false;" />
</div>
{% endblock %}
