  <!-- navbar.html -->
  {% load static %}
  {% load django_bootstrap5 %}
  {% load isingroup %}

<head>
  <link rel="stylesheet" type="text/css" href="{% block stylesheet_navbar %}{% static "navigation/css/styles.css" %}{% endblock %}">
</head>

<nav class="navbar col-auto navbar-expand-lg navbar-custom">
  <div class="container">
    <div class="row row-cols-1 w-100">
      <div class="col-10 order-0 pe-0">
        <div class="row">

        <!-- Navigation icon for mobile -->
          <div class="col-6 order-0 d-lg-none col-sm-6">
            <div class="navbar-icon-mobile-div">
              <button class="navbar-toggler navbar-icon-mobile" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
          </div>

          <!-- Navigation icon for large screen -->
          <div class="col-auto order-0 d-none d-lg-inline">
            <div class="navbar-icon-large-div">
              <a class="navbar-expand-md navbar-light navbar-icon-large" href="{% url 'navpage' %}" title="Navigation">
                <i class="fa-solid fa-bars text-white d-none d-lg-inline navbar-navmenu"></i>
              </a>
            </div>
          </div>

          <!-- Home icon -->
          <div class="col-auto order-1 ml-sm-4">
            <div class="navbar-home-icon-div">
              <a class="navbar-brand navbar-home-icon" href="{% url 'index' %}"  title="Home">
                <i class="fas fa-warehouse text-white"></i>
              </a>
            </div>
          </div>

          <!-- Navigation menus-->
          <div class="col-9 order-2 mt-1">
            <div>
              <div class=" navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Machines & Community
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'overview' %}">All members</a></li>
                      <li><a class="dropdown-item" href="{% url 'machine_list' %}">Machines</a></li>
                      <li><a class="dropdown-item" href="{% url 'chores' %}">Chore volunteer registration </a></li>
                      <li><a class="dropdown-item" href="{% url 'add_instruction' %}">Record instructions</a></li>
                      <li><a class="dropdown-item" href="{% url 'mytransactions' %}">Manage SpaceTegoed</a></li>
                      <li><a class="dropdown-item" href="{% url 'invoice' src=user.id %}">Pay for a product</a></li>
                      <li><a class="dropdown-item" href="{% url 'boxes' %}">Members boxes</a></li>
                      {%  if settings.STORAGE %}
                      <li><a class="dropdown-item" href="{% url 'storage' %}">Storage management</a></li>
                      {% endif %}
                      {% if settings.GRAND_AMNESTY %}
                      <li><a class="dropdown-item" href="{% url 'amnesty' %}">Grand amnesty</a></li>
                      {% endif %}
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Current Events
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'space_state' %}">Who is there now</a></li>
                      <li><a class="dropdown-item" href="{% url 'space_state' %}">Machines in use</a></li>
                      <li><a class="dropdown-item" href="{% url 'motd_messages' %}">Message of the day </a></li>
                      <li><a class="dropdown-item" href="{% url 'ufo' %}">UFO lost and found </a></li>
                      <li><a class="dropdown-item" href="{% url 'camindex' %}">Live printer camera</a></li>
                      <li><a class="dropdown-item" href="/crm/kwh">Power consumption of the space</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Wiki & Public Info
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="https://wiki.makerspaceleiden.nl/">Wiki documentation</a></li>
                      <li><a class="dropdown-item" href="https://wiki.makerspaceleiden.nl/mediawiki/index.php/Categorie:Tool">Tools</a></li>
                      <li><a class="dropdown-item" href="https://wiki.makerspaceleiden.nl/mediawiki/index.php/Makerspace_Leiden#Veiligheid_en_geluidsproductie">Safety and noise production</a></li>
                      <li><a class="dropdown-item" href="https://wiki.makerspaceleiden.nl/mediawiki/index.php/Makerspace_Leiden#Procedures_en_Principes">Procedures and principles</a></li>
                      <li><a class="dropdown-item" href="https://wiki.makerspaceleiden.nl/mediawiki/index.php/Nieuw_artikel_aanmaken">Create a new wiki</a></li>
                      <li><a class="dropdown-item" href="https://wiki.makerspaceleiden.nl/mediawiki/index.php/Nieuweblog">Create a new blog article</a></li>
                      <li><a class="dropdown-item" href="https://makerspaceleiden.nl">Members projects</a></li>
                      <li><a class="dropdown-item" href="https://makerspaceleiden.nl">About Us</a></li>
                    </ul>
                  </li>
                  {% if user.is_privileged or user|isPettycashAdmin or user|isTreasurer or user|isMainsAdmin %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Trustee
                    </a>
                    <ul class="dropdown-menu">
                    {% if user.is_privileged %}
                      <li><a class="dropdown-item" href="{% url 'newmember' %}">Add a new member</a></li>
                      <li><a class="dropdown-item" href="{% url 'pending' %}">Instructions pending approval</a></li>
                      <li><a class="dropdown-item" href="{% url 'missing_doors' %}">Missing doors or tags</a></li>
                      <li><a class="dropdown-item" href="{% url 'missing_forms' %}">Missing waivers</a></li>
                      <li><a class="dropdown-item" href="{% url 'filed_forms' %}">Filed waivers</a></li>
                      <li><a class="dropdown-item" href="{% url 'admin:index' %}">Raw database access</a></li>
                      <li><a class="dropdown-item" href="{% url 'unknowntags' %}">Unknown tags</a></li>
                      <li><a class="dropdown-item" href="{% url 'acl-index' %}">Permit use</a></li>
                      <li><a class="dropdown-item" href="{% url 'cam53upload' %}">Upload member transactions</a></li>
                      <li><a class="dropdown-item" href="{% url 'mailinglists_subs' %}">Members mailing list subscriptions</a></li>
                    {% endif %}
                    {% if user.is_privileged or user|isMainsAdmin %}
                      <li><a class="dropdown-item" href="{% url 'mainsindex' %}">Lucas MainsSensors</a></li>
                      <li><a class="dropdown-item" href="/api/v1/mainssensor/resolve">Sensor descriptions</a></li>
                    {% endif %}

                    {% if user.is_privileged or user|isPettycashAdmin or user|isTreasurer %}
                          <li><a class="dropdown-item" href="{% url 'unpaired' %}">Payment stations</a></li>
                    {% endif %}
                    </ul>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 order-1 ps-0 pe-0 align-self-end">
        <div class="d-flex justify-content-end align-items-end h-100">
          <!-- Temporary placeholder instead of space status button -->
          <div class="temporary-placeholder-for-space-status order-3 d-flex align-items-stretch" style="height: 52px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>


<script src="{% static 'navigation/js/script.js' %}"></script>
