  <!-- navbar.html -->
  {% load static %}
  {% load django_bootstrap5 %}
  {% load isingroup %}

<head>
  <link rel="stylesheet" type="text/css" href="{% block stylesheet_navbar %}{% static "navigation/css/styles.css" %}{% endblock %}">
</head>

<nav class="navbar col-auto navbar-expand-md navbar-custom">
  <div class="container">
    <div class="row row-cols-1 w-100">
      <div class="col-10 order-0 pe-0">
        <div class="row">

        <!-- Navigation icon for mobile -->
          <div class="col-6 order-0 d-md-none col-sm-6">
            <div class="navbar-icon-mobile-div">
              <button class="navbar-toggler navbar-icon-mobile" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
          </div>

          <!-- Navigation icon for large screen -->
          <div class="col-auto order-0 d-none d-md-inline">
            <div class="navbar-icon-large-div">
              <a class="navbar-expand-md navbar-light navbar-icon-large" href="{% url 'navpage' %}" title="Navigation">
                <i class="fa-solid fa-bars text-white d-none d-md-inline navbar-navmenu"></i>
              </a>
            </div>
          </div>

          <!-- Home icon -->
          <div class="col-auto order-1 ml-sm-4">
            <div class="navbar-home-icon-div">
              <a class="navbar-brand navbar-home-icon" href="{% url 'index' %}"  title="Home">
                <i class="fas fa-warehouse text-white"></i>
              </a>
            </div>
          </div>

          <!-- Navigation menus-->
          <div class="col-9 order-2">
            <div>
              <div class=" navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-md-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{ navbar_links.community.label }}
                    </a>
                    <ul class="dropdown-menu">
                      {% for link in navbar_links.community.children %}
                      <li>
                        <a class="dropdown-item" href="{{ link.url }}">{{ link.label }}</a>
                      </li>
                      {% endfor %}
                      {%  if settings.STORAGE %}
                      <li><a class="dropdown-item" href="{% url 'storage' %}">Storage management</a></li>
                      {% endif %}
                      {% if settings.GRAND_AMNESTY %}
                      <li><a class="dropdown-item" href="{% url 'amnesty' %}">Grand amnesty</a></li>
                      {% endif %}
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{ navbar_links.events.label }}
                    </a>
                    <ul class="dropdown-menu">
                      {% for link in navbar_links.events.children %}
                        <li>
                          <a class="dropdown-item" href="{{ link.url }}">
                            {{ link.label }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{ navbar_links.public.label }}
                    </a>
                    <ul class="dropdown-menu">
                      {% for link in navbar_links.public.children %}
                        <li>
                          <a class="dropdown-item" href="{{ link.url }}" target="_blank">{{ link.label }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% if user.is_privileged or user|isPettycashAdmin or user|isTreasurer or user|isMainsAdmin or user|isNoderedAdmin %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{ navbar_links.trustee.label }}
                    </a>
                    <ul class="dropdown-menu">
                    {% for link in navbar_links.trustee.children %}
                      <li><a href="{{link.url}}" class="dropdown-item">{{link.label}}</a></li>
                    {% endfor %}
                    </ul>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 order-1 ps-0 pe-0 align-self-end">
        <div class="d-flex justify-content-end align-items-end h-100">
          <!-- Temporary placeholder instead of space status button -->
          <div class="temporary-placeholder-for-space-status order-3 d-flex align-items-stretch" style="height: 52px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>


<script src="{% static 'navigation/js/script.js' %}"></script>
