{% extends 'base.html' %}
{% load isingroup %}

{% block content %}

<style>
    .custom-nav-menu li {
        list-style-type: none;
    }
</style>

    <div class="row">
        <div class="col-12 col-lg-2 mb-0 me-3">
            <h2>{{ navbar_links.profile.label }}</h2>
            <ul class="nav flex-column custom-nav-menu">
                {% for link in navbar_links.profile.children %}
                    <li class="nav-item pb-0">
                        <a class="nav-link pt-1 pb-2 pe-1 ps-0" href="{{ link.url }}">
                            {{ link.label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-12 col-lg-2 me-3">
            <h2>{{ navbar_links.community.label }}</h2>
            <ul class="nav flex-column custom-nav-menu">
                {% for link in navbar_links.community.children %}
                <li class="nav-item pb-0">
                    <a href="{{ link.url }}" class="nav-link pt-1 pb-2 pe-1 ps-0">{{ link.label }}</a>
                </li>
                {% endfor %}
                {% if settings.STORAGE %}
                    <li class="nav-item pb-0"><a class="nav-link pt-1 pb-2 pe-1 ps-0" href="{% url 'storage' %}">Storage management</a></li>
                {% endif %}
                {% if settings.GRAND_AMNESTY %}
                    <li class="nav-item pb-0"><a class="nav-link pt-1 pb-2 pe-1 ps-0" href="{% url 'amnesty' %}">Grand amnesty</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="col-12 col-lg-2 me-3">
            <h2>{{ navbar_links.events.label }}</h2>
            <ul class="nav flex-column custom-nav-menu">
                {% for link in navbar_links.events.children %}
                    <li class="nav-item pb-0">
                        <a class="nav-link pt-1 pb-2 pe-1 ps-0" href="{{ link.url }}">
                            {{ link.label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-12 col-lg-2 me-3">
            <h2>{{ navbar_links.public.label }}</h2>
            <ul class="nav flex-column custom-nav-menu">
                {% for link in navbar_links.public.children %}
                  <li class="nav-item pb-0">
                    <a class="nav-link pt-1 pb-2 pe-1 ps-0" href="{{ link.url }}" target="_blank">{{ link.label }}</a>
                  </li>
                {% endfor %}
            </ul>
        </div>
        {% if user.is_privileged or user|isPettycashAdmin or user|isTreasurer or user|isMainsAdmin or user|isNoderedAdmin %}
            <div class="col-12 col-lg-2 me-0">
                <h2>Trustee</h2>
                <ul class="nav flex-column custom-nav-menu">
                {% if user.is_privileged %}
                    <li class="nav-item pb-0"><a class="nav-link pt-1 pb-2 pe-1 ps-0" href="{% url 'admin:index' %}">Raw database access</a></li>
                    <li class="nav-item pb-0"><a class="nav-link pt-1 pb-2 pe-1 ps-0" href="{% url 'newmember' %}">Add a new member</a></li>
                    <li class="nav-item pb-0"><a class="nav-link pt-1 pb-2 pe-1 ps-0" href="{% url 'pending' %}">Instructions pending approval</a></li>
                    <li class="nav-item pb-0"><a class="nav-link pt-1 pb-2 pe-1 ps-0" href="{% url 'missing_doors' %}">People with no doors or tags</a></li>
                    <li class="nav-item pb-0"><a class="nav-link pt-1 pb-2 pe-1 ps-0" href="{% url 'missing_forms' %}">Missing waivers</a></li>
                    <li class="nav-item pb-0"><a class="nav-link pt-1 pb-2 pe-1 ps-0" href="{% url 'filed_forms' %}">Filed waivers</a></li>
                    <li class="nav-item pb-0"><a class="nav-link pt-1 pb-2 pe-1 ps-0" href="{% url 'unknowntags' %}">Unknown tags</a></li>
                    <li class="nav-item pb-0"><a class="nav-link pt-1 pb-2 pe-1 ps-0" href="{% url 'acl-index' %}">Permit use</a></li>
                    <li class="nav-item pb-0"><a class="nav-link pt-1 pb-2 pe-1 ps-0" href="{% url 'cam53upload' %}">Upload Triodos transactions</a></li>
                    <li class="nav-item pb-0"><a class="nav-link pt-1 pb-2 pe-1 ps-0" href="{% url 'mailinglists_subs' %}">Members mailing list subscriptions</a></li>
                {% endif %}
                {% if user.is_privileged or user|isMainsAdmin %}
                    <li class="nav-item pb-0"><a class="nav-link pt-1 pb-2 pe-1 ps-0" href="{% url 'mainsindex' %}">Lucas MainsSensors</a></li>
                    <li class="nav-item pb-0"><a class="nav-link pt-1 pb-2 pe-1 ps-0" href="/api/v1/mainssensor/resolve">Lucas MainsSensors resolved</a></li>
                {% endif %}
                {% if user.is_privileged or user|isPettycashAdmin or user|isTreasurer %}
                    <li class="nav-item pb-0"><a class="nav-link pt-1 pb-2 pe-1 ps-0" href="{% url 'unpaired' %}">Payment stations</a></li>
                {% endif %}
                {% if user.is_privileged or user|isNoderedAdmin %}
                    <li class="nav-item pb-0"><a class="nav-link pt-1 pb-2 pe-1 ps-0" href="{% url 'nodered_proxy' '' %}">Node-Red editor</a></li>
                {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>

{% endblock %}
