Folks,
<p/>
{%if postDeadline %}
The following item is nearing its deadline and has not been claimed. So make
sure you claim your property back; as otherwise these will be free for others to 
claim, and if not claimed quick enough, be disposed.
</p>
<ul>
{%for item in postDeadline %}
<li> <a href="{{item.url }}">{{ item.description }}</a> <br>
     Deadline {{ item.deadline }}<br>
     Will be disposed {{ item.dispose_by_date }}<p>
{%endfor%}
</ul>

By the way - if something is yours - and you do not want it anymore; then do feel to
mark it as 'can be disposed'. 
<p>
{%endif%}

{%if postDisposeline %}
Know that the item listed below is now past its 'dispose by' deadline. So if you
have some time; be so kind to dump them in the container or drop it off at the
Kringloop next door. And then mark them 'gone' in the CRM.
<p>
<ul>
{%for item in postDeadline %}
<li><a href="{{item.url}}">{{ item }}</a>
{%endif%}
<ul>
<p>
Your friendly makerbot.
<hr/>
