{% extends 'base.html' %}

{% block content %}
<div class="col-9">
<p>
You can use this page to manage unclaimed items in the makerspace. 
Found something without an owner? 
Take a photo, upload it, and set a claim deadline. 
Members can then identify and claim their belongings. 
Help us keep the makerspace tidy and efficient by using the UFO application 
for any unclaimed objects you find!
</p>
</div>
<a href="{% url 'addufo' %}">[ add one ]</a> or do a <a href="{% url 'uploadufo' %}">[ bulk upload ]</a> by means of a zip file of images.

{% if lst %}
<p/>
<table>
  {% for item in lst %}
  <tr valign=top>
        <td rowspan=2 valign=top><a label="item.id">{{ item.get_state_display }}</a></td>
	<td rowspan=2 valign=top><a href="{{ item.image.url   }}"><img alt="" src="{{ item.image.medium.url   }}"/></a>
  	<td>{{ item.description }}</td>
	{%if item.owner %}
  	<td>{{ item.owner }}</td>
	{%endif%}
  </tr><tr>
	<td colspan=3>
		<b><a href="{% url 'mine' pk=item.id %}">[Claim this]</a><b>
		--
		<a href="{% url 'showufo' pk=item.id %}">[view]</a>
		<a href="{% url 'changeufo' pk=item.id %}">[modify]</a>
		<a href="{% url 'deleteufo' pk=item.id %}">[delete]</a>
	</td>
  </tr>
  {% endfor %}
</table>
{% if days %}
<b>Note: Only showing the last {{ days }} day(s) for items that are already claimed.</b> (And all unclaimed items).
{% endif %}
<p/>
Show only data relevant for
<a href="7">last week</a>,
<a href="30">last month</a> or
<a href="0">all times</a>
<p/>
{% else %}
No free floating objects that need a home. At the moment.
{% endif %}
<p/>


{% endblock %}
