{% extends 'base.html' %}

{% block content %}
{%if lst %}
Upload completed.
{% if skipped %}
Files that failed:
<ol>
	{% for msg in skipped %}
	<li> {{ msg }} </li>
	{% endfor %}
</ol>
{% endif %}
<p/>
Images uploaded OK:
<hr/>
{% for item in lst %}
<a href="{{ item.path }}"><img alt="" src="{{ item.image.thumbnail.url   }}"/></a>{% endfor %}
<p/>
<hr/>
<a href="{% url "ufo" %}">Back</a> to UFO.
{% else %}
  <form method="post"  enctype="multipart/form-data">
<table>
    {% csrf_token %}
    {{ form.as_table }}
    <tr><td></td><td><button type="submit">{{ action }}</button></td></tr>
</table>
  </form>
<hr>
<p>
<a href="{% url "ufo" %}">Back</a> to UFO.
<p>
{% endif %}
{% endblock %}
