{% extends 'base.html' %}

{% block content %}

<a href="{{ item.image.url   }}"><img alt="" src="{{ item.image.large.url   }}"/></a>
<br>
{{ item.description }}
<p/>
Removal deadline: {{ item.deadline }}
Disposal date: {{ item.disposed_by_date }}
<p/>
{%if item.owner %}
Person now responsible: {{ item.owner }}
{%endif%}
<p/>
Item can be claimed until {{ item.deadline }} - and it will be disposed if not claimed {{item.dispose_by_date}}.
<p/>
<a href="{% url 'mine' pk=item.id %}">[claim as mine]</a>
<a href="{% url 'changeufo' pk=item.id %}">[add more details or edit]</a>
<a href="{% url 'deleteufo' pk=item.id %}">[delete]</a>

{% endblock %}
