{% extends 'base.html' %}

{% block content %}

<div class="row">
	<div class="col-xl-12 col-lg-12 col-sm-12">
	<!-- Chores -->
    <div class="pt-0 pb-1">
        {% if chores %}
            <div>
                <p>
                    Below is the list of chores for the next 3 months.
                </p>
                <p>
                    Please sign up for the activities you can help with. If a chore is getting close and nobody has signed up yet, the system will send out reminders.
                </p>
                <p>
                    For the engineers - this data is also accessible as JSON from <code><a href="/api/v1/events">/api/v1/events</a></code>.
                </p>
            </div>
            <div class="card mt-2 mb-2">
                <ul class="list-group list-group-flush pt-0 pb-0">
                    <!-- Chore Rows -->
                    {% for event in chores %}
                        <li class="list-group-item pt-2 pb-2">
                            <div class="d-flex">
                                <div class="pt-1 pb-1 border-end agenda-item-part" style="min-width: 18ch">
                                    {{ event.start_datetime|date:"l, j-m" }}
                                    {{ event.start_datetime|date:"G:i" }}
                                </div>
                                <div class="ps-3">
                                    {{ event.item_details }}&nbsp;
                                </div>
                                {% if event.chore.wiki_url %}
                                        <a href="{{ event.wiki_url }}" target="_blank" class="wiki-link" title="Open wiki page">
                                            wiki&nbsp;<i class="fas fa-external-link-alt" style="font-size: 0.7em;"></i>
                                        </a>
                                    {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            No upcoming tasks.
        {% endif %}
    </div>
    </div>
</div>
{% endblock %}
