{% extends 'base.html' %}

{% block content %}

<div class="row">
	<div class="col-xl-12 col-lg-12 col-sm-12">
	<!-- Chores -->
    <div class="pt-0 pb-1">
        {% if chores %}
            <div>
                <p>
                    Below is the list of chores for the next 3 months.
                </p>
                <p>
                    Please sign up for the activities you can help with. If a chore is getting close and nobody has signed up yet, the system will send out reminders.
                </p>
                <p>
                    For the engineers - this data is also accessible as a JSON from <code><a href="/api/v1/events">/api/v1/events</a></code>.
                </p>
            </div>
            <div class="card mt-2 mb-2">
                <ul class="list-group list-group-flush pt-0 pb-0">
                    <!-- Chore Rows -->
                    {% for event in chores %}
                        <li class="list-group-item pt-2 pb-2">
                            <div class="d-flex">
                                <div class="pt-1 pb-1 border-end agenda-item-part" style="min-width: 18ch">
                                    {{ event.start_datetime|date:"l, j-m" }}
                                    {{ event.start_datetime|date:"G:i" }}
                                </div>
                                <div class="ps-3">
                                    {{ event.item_details }}&nbsp;
                                </div>
                                {% if event.chore.wiki_url %}
                                        <a href="{{ event.wiki_url }}" target="_blank" class="wiki-link" title="Open wiki page">
                                            wiki&nbsp;<i class="fas fa-external-link-alt" style="font-size: 0.7em;"></i>
                                        </a>
                                    {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            No upcoming tasks.
        {% endif %}
    </div>
    </div>
</div>

<style>
	.chore-time-column {
		width: 80px;
        border-right: 1px solid #dee2e6; /* Bootstrap's default border color */
    }

	.chore-volunteer-column {
		width: 190px;
		padding-right: 0px;
	}

	/* Media query for large screens and smaller */
	@media (max-width: 992px) { /* Bootstrap's lg breakpoint */
		.chore-description-column {
			flex: 0 0 100%; /* Takes full width on smaller screens */
			max-width: 100%; /* Ensure the column does not exceed its parent */
			border-right: none; /* Remove border on smaller screens */
		}
		.chore-time-column {
			border-right: none; /* Remove border on smaller screens */
		}
	}
</style>


{% endblock %}
