{% extends 'base.html' %}
{% load isingroup %}

{% block content %}

<script>
function toggle() {
    var lst = document.getElementsByClassName("verysecret");
    for(var i = 0; i < lst.length; ++i) {
        lst[i].style.display = lst[i].style.display ? '' : 'none';
    }
}
</script>

{% if is_logged_in %}
<div class="row">
	<div class="col-xl-9 col-lg-9 col-sm-12">
	<!-- Agenda -->
		<div class="pt-2 pb-2">
			<h2>Agenda</h2>
			<p>Upcoming events (max 5). View all events <a href="{% url 'agenda' %}" class="agenda-link">here</a>.</p>
			<div class="card mt-2 mb-2">
				<ul class="list-group list-group-flush pt-0 pb-0">
					{% for agenda_item in agenda_items %}
					<li class="list-group-item pt-2 pb-2">
						<div class="row agenda-item-link">
							<div class="pt-1 pb-1 border-end agenda-item-part" style="width:160px;">
								{{ agenda_item.startdate|date:"l, j-m" }}
							</div>
							<div class="pt-1 pb-1 agenda-item-part d-sm-none d-block" style="width:70px">
								{{ agenda_item.starttime|time:"G:i" }}
							</div>
							<div class="pt-1 pb-1 agenda-item-part border-end d-none d-sm-block" style="width:70px">
								{{ agenda_item.starttime|time:"G:i" }}
							</div>
							<div class="col pt-1 pb-1 agenda-item-part" style="font-weight:600;">
								<a href="{% url 'agenda_detail' pk=agenda_item.pk %}">
									{{ agenda_item.item_title }}
								</a>
							</div>
							<div class="w-100"></div>
						</div>
					</li>
					{% empty %}
					<li class="list-group-item">No upcoming events</li>
					{% endfor %}
				</ul>
			</div>
		</div>

	<!-- Chores -->
		<div class="pt-2 pb-1">
			<h2>Chores</h2>
			{% if event_groups %}
				Upcoming tasks next 2 weeks, view all upcoming chores <a href="{% url 'chores' %}" class="chores-link">here</a>.
				<div class="card mt-2 mb-2">
					<ul class="list-group list-group-flush pt-0 pb-0">
						{% for group in event_groups %}
							<!-- Date Row -->
							<li class="list-group-item col-sm-12 pt-0 pb-0" style="background-color: rgb(248, 248, 248)">
								<div class="row">
									<div class="col-12 mt-2 mb-2" style="font-weight: 600 !important;">
										{{ group.ts_str }}
									</div>
								</div>
							</li>
							<!-- Chore Rows -->
							{% for event in group.events %}
								<li class="list-group-item pt-2 pb-2">
									<div class="row">
										<!-- Fixed width for time column -->
										<div class="chore-time-column pt-1 pb-1" style="width:80px;">
											{{ event.time_str }}
										</div>
										<!-- Middle column takes the remaining space -->
										<div class="chore-description-column mt-1 mb-1 ">
											{{ event.chore.description }}&nbsp;
											{% if event.wiki_url %}
												<a href="{{ event.wiki_url }}" target="_blank" class="wiki-link" title="Open wiki page">
													<i class="fas fa-external-link-alt" style="font-size: 0.7em;"></i> wiki
												</a>
											{% endif %}
										</div>
										<!-- Volunteer Buttons with fixed width -->
										<div class="chore-volunteer-column">
											<ul style="padding: 0 !important; margin: 0;">
												{% for volunteer in event.volunteers %}
													<li style="list-style-type: none; padding-bottom:0 !important">
														<div>
															{% if volunteer == 'offer_volunteering' %}
																<a href="{% url 'signup_chore' chore_id=event.chore.chore_id ts=event.when.timestamp %}?redirect_to=index" class="btn btn-outline-secondary btn-sm">Add me as volunteer</a>
															{% elif volunteer is None %}
																<i>Volunteer needed</i>
															{% elif volunteer.id  %}
																Volunteer:
																<a href="{{volunteer.path}}">
																	{{ volunteer.first_name }}
																</a>

															{% endif %}
														</div>
													</li>
												{% endfor %}

												<!-- Show Remove Button Once -->
												{% if event.user_volunteered %}
													<li style="list-style-type: none; margin-top: 0.3em; padding-bottom:0 !important">
														<div>
															<a href="{% url 'remove_signup_chore' chore_id=event.chore.chore_id ts=event.when.timestamp %}?redirect_to=index" class="btn btn-outline-secondary btn-sm">Remove me as volunteer</a>
														</div>
													</li>
												{% endif %}
											</ul>
										</div>
									</div>
								</li>
							{% endfor %}
						{% endfor %}
					</ul>
				</div>
			{% else %}
				No upcoming tasks for the next 4 weeks, view all upcoming chores <a href="{% url 'chores' %}" class="chores-link">here</a>.
			{% endif %}
		</div>

	<!-- Unclaimed Floating Objects -->
		<div class="mt-4 pt-2 pb-2">
			<h2>Unclaimed Floating Objects</h2>
			<div class="mb-3">
				Free floating objects or projects spotted at the space (max 4). Add a newly spotted object <a href="{% url 'ufo' %}">here</a>.
			</div>
			<div class="ufo-container">
				{% for ufo in ufo_items %}
					<div class="ufo-item">
						<div>
							<a href="{% url 'showufo' pk=ufo.id %}">
								<img src="{{ ufo.image.medium.url }}" alt="{{ ufo.description }}" class="rounded-image" />
							</a>
						</div>
						<div class="mt-1 mb-2">
							Spotted on {{ ufo.created_at|date:"m-d @ H:i" }}
						</div>
						<div>
							<p><a href="{% url 'showufo' pk=ufo.id %}" class="btn btn-outline-secondary btn-sm">Claim this object</a></p>
						</div>
					</div>
				{% empty %}
				<div class="col-12 border rounded ps-3 pt-2 pb-2">
					<p class="mb-0">No free floating objects that need a home. At the moment.</p>
				</div>
				{% endfor %}
			</div>
		</div>

	<!-- Passwords -->
		{% if wifinetworks %}
			<div class="mt-4 mb-4 pb-3">
				<h2>Passwords</h2>
				For members only:
				<div class="card mt-2 mb-3">
					<div class="card-header">
						<div class="row">
							<div class="col-lg-6 col-md-7 col-12">
								Network/Use
							</div>
							<div class="col-lg-5 col-md-5 col-12">
								Password
							</div>
						</div>
					</div>
					<ul class="list-group list-group-flush pt-0" >
						{% for e in wifinetworks %}
							{% if not e.adminsonly or user|isNetAdmin or user.is_privileged %}
								<li class="list-group-item pt-2{% if e.adminsonly %} verysecret{% endif %}"
									style="{% if forloop.last %} border-bottom: none;{% endif %}{% if e.adminsonly %} display: none;{% endif %}">
									<div class="row">
										<div class="col-lg-6 col-md-7 col-12 mt-1 mb-1">
											{{ e.network }}
											{% if e.adminsonly %}<font color="red">*</font>{% endif %}
										</div>
										<div class="col-lg-5 col-md-5 col-12 mt-1 mb-1">
											<div id="pw_wrapper_{{ e.network }}">
												{% if e.adminsonly %}
													<div id="pw_display_{{ e.network }}" onclick="showPassword('{{ e.network }}')" style="color:rgb(65,120,147);">Show password</div>
													<div style="display: none;" id="pw_input_{{ e.network }}">{{ e.password }}</div>
												{% else %}
													<div>{{ e.password }}</div>
												{% endif %}
											</div>
										</div>
									</div>
								</li>
								<script>
									{% if e.adminsonly %}
										function showPassword(network) {
											var display = document.getElementById("pw_display_" + network);
											var input = document.getElementById("pw_input_" + network);
											display.style.display = "none";
											input.style.display = "inline";
											setTimeout(function() {
												input.style.display = "none";
												display.style.display = "inline";
											}, 10000); // Revert to 'Show password' after 10 seconds
										}
									{% endif %}
								</script>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				{% if user|isNetAdmin or user.is_privileged %}
				<small>
					<input type=checkbox onChange="toggle()">
					Show passwords that are only visible to the administrators, of which you are one.
					<div class="verysecret" style="display: none;">
							<font color=red>* </font>) Do not share outside this group, or consult with one of the trustees first.
					</div>
				</small>
				{% endif %}
			</div>

		{% else %}
		There are no passwords for members at the moment.
		{% endif %}
	</div>

	<!-- Sidebar Column (Right) -->
	<div class="col-xl-3 col-lg-3 col-sm-12" >
		<!-- Personal Info Section -->
		<div class="mt-2 mb-2 ms-lg-4 pl-4 pt-2 pb-3">
			<h2>Personal info</h2>
			<a class="nav-link pt-0 pb-0 pe-0 ps-0" href="{% url 'personal_page' %}">Personal profile </a>
			<a class="nav-link pt-0 pb-0 pe-0 ps-0" href="{% url 'userdetails' %}">Change personal details</a>
			<a class="nav-link pt-0 pb-0 pe-0 ps-0" href="{% url 'password_change' %}">Change password</a>
			<a class="nav-link pt-0 pb-0 pe-0 ps-0" href="{% url 'mailinglists_edit' %}">Mailing lists subscriptions</a>
			<a class="nav-link pt-0 pb-0 pe-0 ps-0" href="{% url 'notification_settings' %}">Notifications</a>
			{% if has_tags %}
			<a class="nav-link pt-0 pb-0 pe-0 ps-0" href="{% url 'personal_page' %}#tags">Tags</a>
			{% endif %}
			<a class="nav-link pt-0 pb-0 pe-0 ps-0" href="{% url 'personal_page' %}#entitlements">Entitlements</a>
			<a class="nav-link pt-0 pb-0 pe-0 ps-0" href="{% url 'boxes' %}">Member box</a>
		</div>
		<!-- Cash balance -->
		<div class="mt-3 mb-2 mx-lg-4 pl-4">
			<div class="mb-3">
				<h2>SpaceTegoed</h2>
			</div>
			<div>
				<a href="{% url 'mytransactions' %}?redirect_to=index" class="d-inline-block">
					<div class="balance-circle {% if is_balance_positive %}bg-primary-custom{% else %}bg-danger{% endif %}">
						{{ cash_balance }}
					</div>
				</a>
			</div>
			<div class="mt-2">
				<a class="nav-link pt-0 pb-0 pe-0 ps-0" href="{% url 'manual_deposit' %}?redirect_to=index">Deposit money</a>
			</div>
		</div>
		<!-- Recent activity -->
		<div class="mt-4 mb-5 mx-lg-4 pl-4 pt-2">
			<h2>Recent activity</h2>
			<div>
				{% if recent_activity %}
					{% for activity in recent_activity %}
						<div>
							<div style="font-weight:700">
								{{ activity.machine.name }}
							</div>
							<div  style="font-size:.85rem;margin-bottom:2px; margin-top:2px">
								({{ activity.used|date:"D Y-n-j H:i:s" }})
							</div>
						</div>
					{% endfor %}
				{% else %}
					<li class="list-group-item">No recent activity</li>
				{% endif %}
			</div>
		</div>
	</div>

	<!-- Manage your data -->
	<h2>Manage your data</h2>
	<ul>
		<li><a href="https://wiki.makerspaceleiden.nl">General documentation</a>
		<li><a href="https://wiki.makerspaceleiden.nl/mediawiki/index.php/Categorie:Tool">List of all tools</a> and their documentation.
	<p/>
			<li><a href="{% url 'space_state' %}">Who is there now</a> <i>(State of the space)</i>.
			<li><a href="{% url 'camindex' %}">printer camera</a> <i>(photo of buildplate of the Ultimaker 3)</i>.
		<li><a href="/crm/kwh">Power consumption of the space</a>
		<li><a href="{% url 'overview' %}">All members </a>
	<p/>
		<li><a href="{% url 'personal_page' %}">Your data</a>
		<li><a href="{% url 'mytransactions' %}">Your cash balance</a>,  see all
		<a href="{% url 'balances' %}">balances</a>, the <a href="{% url 'pricelist' %}">pricelist</a> and so on.
		<li><a href="{% url 'mailinglists_edit' %}">Mailing lists subscriptions</a> and digest settings.
		<li><a href="{% url 'mailinglists_archives' %}">Historic archives</a> of the mailing lists.
	{%if user.is_privileged %}
		<li><a href="{% url 'mailinglists_subs' %}">Who is (not) subscribed</a> to one of the mailing lists.
	{%endif %}
		<li><a href="{% url 'userdetails' %}">Update your personal details</a>
		<li><a href="{% url 'password_change' %}">change your password</a>
	{%if settings.GRAND_AMNESTY %}
		<li><a href="{% url 'amnesty' %}">Grand amnesty</a>
	{%endif %}
	<p/>
		<li><a href="{% url 'ufo' %}">Unclaimed Floating Objects</a> -- lost and found & things about to be disposed.
	<p/>
	<!--	<li><a href="{% url 'members-index' %}">All machines that require instruction</a> -->
		<li><a href="{% url 'machine_list' %}">All machines</a>
		<li><a href="{% url 'add_instruction' %}">Record instructions you've just given</a> on a machine to someone.
	<p/>
		<li><a href="{% url 'boxes' %}">Members box management</a>
	{%  if settings.STORAGE %}
		<li><a href="{% url 'storage' %}">Storage management</a>
	{% endif %}
		<li><a href="{% url 'chores' %}">Chores</a>
		<p/>
		<li><a href="{% url 'nodered_live_data_and_sensors' %}">Live data &amp; sensors</a></li>
		<li><a href="{% url 'nodered_space_climate' %}">Space climate</a></li>
	{% if request.user|isMainsAdmin or user.is_privileged %}
		<li> Lucas MainsSensors : <a href="{% url 'mainsindex' %}">admin interface</a>
		<li> List of <a href="/crm/api/v1/mainssensor/resolve">sensors</a> names, descriptions and IDs.
			<li> Or alternatively use ...<code>//crm/api/v1/mainssensor/resolve/1234</code> to get just the name (decimal number).
		</p>
	{% endif %}

	{% if user|isPettycashAdmin %}
		<li>List of <a href='{% url "unpaired" %}'>payment stations</a> and pairing.
	{% endif %}

	{% if user|isNoderedAdmin or user.is_superuser %}
		<li><a href='{% url "nodered_proxy" "" %}'>Nodered editor</a>
	{% endif %}

	{%if user.is_privileged %}
		<li><a href="{% url 'newmember' %}">Add a NEW member</a>
		<p/>
		<li><a href="{% url 'pending' %}">Instructions pending approval trustee</a>
		<li><a href="{% url 'missing_doors' %}">People with no doors or tags</a>
	<li><a href="{% url 'missing_forms' %}">Missing waivers</a>
		<li><a href="{% url 'filed_forms' %}">Filed waivers</a>
		<li><a href="{% url 'userdetails' %}">Update your personal details</a>
		<p/>
		<li><a href="{% url 'admin:index' %}">raw database access</a>
		<p/>
		<li><a href="{% url 'unknowntags' %}">See unknown tags / link unknown tags to a member</a>
		<p/>
		<li><a href="{% url 'acl-index' %}">rfid acl stuff</a>
			<p>
		<li><a href="{% url 'cam53upload' %}">Upload Triodos transactions</a>
			</p>
	{% endif %}
		<li><a href="{% url 'logout' %}?next={% url 'index' %}">logout</a>
		</ul>
{% else %}
	Please <a href="{% url 'login' %}?next={% url 'index' %}">login</a> or <a href="{% url 'password_reset' %}">reset your password</a>
{% endif %}


<style>
	.chore-time-column {
		width: 80px;
        border-right: 1px solid #dee2e6; /* Bootstrap's default border color */
    }

	.chore-description-column {
		flex: 1; /* Takes remaining space */
		border-right: 1px solid #dee2e6; /* Border for large screens */
	}

	.chore-volunteer-column {
		width: 190px;
		padding-right: 0px;
	}

	/* Container for UFO items */
	.ufo-container {
		display: flex;
		flex-wrap: wrap;
		gap: 15px; /* Adjust spacing between items */
		justify-content: left;
	}

	/* Each UFO item */
	.ufo-item {
		text-align: center;
		width: 220px; /* Adjust width as needed */
	}

	/* Style UFO rounded-image */
	.rounded-image {
		width: 100%;
		height: 220px;
		object-fit: cover;
		border-radius: 50%;
		border: 2px solid #ddd;
	}

	.balance-circle {
		width: 110px;
		height: 110px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		font-size: 1.25em;
		margin-left: 6px;
	}

	.bg-primary-custom {
		background-color: #417690;
	}

	/* Media query for large screens and smaller */
	@media (max-width: 992px) { /* Bootstrap's lg breakpoint */
		.chore-description-column {
			flex: 0 0 100%; /* Takes full width on smaller screens */
			max-width: 100%; /* Ensure the column does not exceed its parent */
			border-right: none; /* Remove border on smaller screens */
		}
		.chore-time-column {
			border-right: none; /* Remove border on smaller screens */
		}
	}
</style>

{% endblock %}
