{% extends 'base.html' %}

{% block content %}

{% if is_logged_in %}
{% if wifinetworks %}
<p>Wifi networks at the space for members:</p>
<blockquote>
<table>
<tr><th>network</th><th>password</th></tr>
{% for e in wifinetworks %}
<tr><td>{{ e.network }}</td><td><code>{{ e.password }}</code></td></tr>
{% endfor %}
</table>
</blockquote>
{% else %}
There are no wifi network passwords for members at the moment.
{% endif %}
<h2>Manage your data</h2>
<p>
<ul>
<li><a href="acl/overview/{{ member.id }}">Instructions you've had</a>
<li><a href="acl/overview">Instruction details for all users</a>
<p>
<li><a href="record_instructions">Record instructions you've just given</a>
<p>
<li><a href="acl/missing_forms">Missing forms</a>
<li><a href="acl/filed_forms">Filed forms</a>
<p>
<li><a href="userdetails/">Update your personal details</a>
<li><a href="{% url 'password_change' %}">change your password</a>
<p>
<li><a href="{% url 'boxes' %}">Members box management</a>
<li><a href="{% url 'storage' %}">Storage management</a>
<p>
<li><a href="admin">admin stuff</a>
<li><a href="acl">acl stuff</a>
<p>
<li><a href="{% url 'logout' %}?next={% url 'index' %}">logout</a>
</ul>
{% else %}
<a href="signup">signup</a> or <a href="{% url 'login' %}?next={% url 'index' %}">login</a> or <a href="{% url 'password_reset' %}">reset my password</a>
{% endif %}

{% endblock %}
