{% extends 'base.html' %}
{% load isingroup %}
{% load agenda_badge %}

{% block content %}

<script>
function toggle() {
    var lst = document.getElementsByClassName("verysecret");
    for(var i = 0; i < lst.length; ++i) {
        lst[i].style.display = lst[i].style.display ? '' : 'none';
    }
}
</script>

{% if is_logged_in %}
<div class="row">
	<div class="col-xl-9 col-lg-9 col-sm-12">
	<!-- Agenda -->
		<div class="pt-2 pb-2">
			<h2>Agenda</h2>
			<p>Upcoming events and chores (max 5). <a href="{% url 'agenda' %}" class="agenda-link">View all</a></p>
			<div>
				<div class="list-group">
					{% for event in agenda_items %}
					<a href="{% url 'agenda_detail' pk=event.pk %}" class="list-group-item list-group-item-action py-3">
						<div class="w-100 d-flex justify-content-between">
							<h4 class="my-0">
								<span class="d-inline-block me-1">
									{{ event.display_datetime }}
								</span>

								<span class="d-inline-block fw-normal">
									{{ event.item_title }}
								</span>
							</h4>
							{% agenda_badge event %}
						</div>
						<p class="text-dark my-0 mt-1">{{ event.item_details }}</p>
					</a>
					{% empty %}
					<div class="list-group-item">No upcoming events</div>
					{% endfor %}
				</div>
			</div>
		</div>

	<!-- Unclaimed Floating Objects -->
		<div class="mt-4 pt-2 pb-2">
			<h2>Unclaimed Floating Objects</h2>
			<div class="mb-3">
				Free floating objects or projects spotted at the space (max 8). Add a newly spotted object <a href="{% url 'ufo' %}">here</a>.
			</div>
			<div class="ufo-container">
				{% for ufo in ufo_items %}
					<div class="ufo-item">
						<div>
							<a href="{% url 'showufo' pk=ufo.id %}">
								<img src="{{ ufo.image.medium.url }}" alt="{{ ufo.description }}" class="rounded-image" />
							</a>
						</div>
						<div class="mt-1 mb-2">
							Spotted on {{ ufo.created_at|date:"m-d @ H:i" }}
						</div>
						<div>
							<p><a href="{% url 'showufo' pk=ufo.id %}" class="btn btn-outline-secondary btn-sm">Claim this object</a></p>
						</div>
					</div>
				{% empty %}
				<div class="col-12 border rounded ps-3 pt-2 pb-2">
					<p class="mb-0">No free floating objects that need a home. At the moment.</p>
				</div>
				{% endfor %}
			</div>
		</div>

	<!-- Passwords -->
		{% if wifinetworks %}
			<div class="mt-4 mb-4 pb-3">
				<h2>Passwords</h2>
				For members only:
				<div class="card mt-2 mb-3">
					<div class="card-header">
						<div class="row">
							<div class="col-lg-6 col-md-7 col-12">
								Network/Use
							</div>
							<div class="col-lg-5 col-md-5 col-12">
								Password
							</div>
						</div>
					</div>
					<ul class="list-group list-group-flush pt-0" >
						{% for e in wifinetworks %}
							{% if not e.adminsonly or user|isNetAdmin or user.is_privileged %}
								<li class="list-group-item pt-2{% if e.adminsonly %} verysecret{% endif %}"
									style="{% if forloop.last %} border-bottom: none;{% endif %}{% if e.adminsonly %} display: none;{% endif %}">
									<div class="row">
										<div class="col-lg-6 col-md-7 col-12 mt-1 mb-1">
											{{ e.network }}
											{% if e.adminsonly %}<font color="red">*</font>{% endif %}
										</div>
										<div class="col-lg-5 col-md-5 col-12 mt-1 mb-1">
											<div id="pw_wrapper_{{ e.network }}">
												{% if e.adminsonly %}
													<div id="pw_display_{{ e.network }}" onclick="showPassword('{{ e.network }}')" style="color:rgb(65,120,147);">Show password</div>
													<div style="display: none;" id="pw_input_{{ e.network }}">{{ e.password }}</div>
												{% else %}
													<div>{{ e.password }}</div>
												{% endif %}
											</div>
										</div>
									</div>
								</li>
								<script>
									{% if e.adminsonly %}
										function showPassword(network) {
											var display = document.getElementById("pw_display_" + network);
											var input = document.getElementById("pw_input_" + network);
											display.style.display = "none";
											input.style.display = "inline";
											setTimeout(function() {
												input.style.display = "none";
												display.style.display = "inline";
											}, 10000); // Revert to 'Show password' after 10 seconds
										}
									{% endif %}
								</script>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				{% if user|isNetAdmin or user.is_privileged %}
				<small>
					<input type=checkbox onChange="toggle()">
					Show passwords that are only visible to the administrators, of which you are one.
					<div class="verysecret" style="display: none;">
							<font color=red>* </font>) Do not share outside this group, or consult with one of the trustees first.
					</div>
				</small>
				{% endif %}
			</div>

		{% else %}
		There are no passwords for members at the moment.
		{% endif %}
	</div>

	<!-- Sidebar Column (Right) -->
	<div class="col-xl-3 col-lg-3 col-sm-12" >
		<!-- Personal Info Section -->
		<div class="mt-2 mb-2 ms-lg-4 pl-4 pt-2 pb-3">
			<h2>Personal info</h2>
			<a class="nav-link pt-0 pb-0 pe-0 ps-0" href="{% url 'personal_page' %}">Personal profile </a>
			<a class="nav-link pt-0 pb-0 pe-0 ps-0" href="{% url 'userdetails' %}">Change personal details</a>
			<a class="nav-link pt-0 pb-0 pe-0 ps-0" href="{% url 'password_change' %}">Change password</a>
			<a class="nav-link pt-0 pb-0 pe-0 ps-0" href="{% url 'mailinglists_edit' %}">Mailing lists subscriptions</a>
			<a class="nav-link pt-0 pb-0 pe-0 ps-0" href="{% url 'notification_settings' %}">Notifications</a>
			{% if has_tags %}
			<a class="nav-link pt-0 pb-0 pe-0 ps-0" href="{% url 'personal_page' %}#tags">Tags</a>
			{% endif %}
			<a class="nav-link pt-0 pb-0 pe-0 ps-0" href="{% url 'personal_page' %}#entitlements">Entitlements</a>
			<a class="nav-link pt-0 pb-0 pe-0 ps-0" href="{% url 'boxes' %}">Member box</a>
		</div>
		<!-- Cash balance -->
		<div class="mt-3 mb-2 mx-lg-4 pl-4">
			<div class="mb-3">
				<h2>SpaceTegoed</h2>
			</div>
			<div>
				<a href="{% url 'mytransactions' %}?redirect_to=index" class="d-inline-block">
					<div class="balance-circle {% if is_balance_positive %}bg-primary-custom{% else %}bg-danger{% endif %}">
						{{ cash_balance }}
					</div>
				</a>
			</div>
			<div class="mt-2">
				<a class="nav-link pt-0 pb-0 pe-0 ps-0" href="{% url 'manual_deposit' %}?redirect_to=index">Deposit money</a>
			</div>
		</div>
		<!-- Recent activity -->
		<div class="mt-4 mb-5 mx-lg-4 pl-4 pt-2">
			<h2>Recent activity</h2>
			<div>
				{% if recent_activity %}
					{% for activity in recent_activity %}
						<div>
							<div style="font-weight:700">
								{{ activity.machine.name }}
							</div>
							<div  style="font-size:.85rem;margin-bottom:2px; margin-top:2px">
								({{ activity.used|date:"D Y-n-j H:i:s" }})
							</div>
						</div>
					{% endfor %}
				{% else %}
					<li class="list-group-item">No recent activity</li>
				{% endif %}
			</div>
		</div>
	</div>
</div>


{% else %}
	Please <a href="{% url 'login' %}?next={% url 'index' %}">login</a> or <a href="{% url 'password_reset' %}">reset your password</a>
{% endif %}


<style>
	/* Container for UFO items */
	.ufo-container {
		display: flex;
		flex-wrap: wrap;
		gap: 15px; /* Adjust spacing between items */
		justify-content: left;
	}

	/* Each UFO item */
	.ufo-item {
		text-align: center;
		width: 220px; /* Adjust width as needed */
	}

	/* Style UFO rounded-image */
	.rounded-image {
		width: 100%;
		height: 220px;
		object-fit: cover;
		border-radius: 50%;
		border: 2px solid #ddd;
	}

	.balance-circle {
		width: 110px;
		height: 110px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		font-size: 1.25em;
		margin-left: 6px;
	}

	.bg-primary-custom {
		background-color: #417690;
	}
</style>

{% endblock %}
