{% extends 'base.html' %}

{% block content %}

<p style="margin-top: 30px;">
  <h3>Email – {% if uses_email %} <b style="color: green;">ACTIVE</b> {% else %} inactive {% endif %}</h3>
  {% if not user.telegram_user_id and not uses_signal %}
  <p style="margin-top: 10px;">
      You are going to receive notifications via email.
  </p>
  {% else %}
    <form method="post" action="{% url 'email_notification_settings' %}" enctype="multipart/form-data" novalidate>
      <table>
        {% csrf_token %}
        {{ email_form.as_table }}
        <tr>
          <td></td>
          <td>
            <button type="submit" style="background-color: #79aec8; border-radius: 3px; border: 1px solid #003366; font-size: 12px; padding: 5px; color: black;">Save</button>
          </td>
        </tr>
      </table>
    </form>
  {% endif %}
</p>

<p style="margin-top: 30px;">
  <a href="{% url 'overview' member_id=user.id  %}">Back to your data</a>
</p>

{% endblock %}
