{% extends 'base.html' %}

{% block content %}

{% if saved %}
  <p>The following record has been {% if created %}added{% else %}updated{% endif %}:<p>
  <blockquote>
    <emph>{{ issuer }}
    has given instruction to 
	{{ holder|join:", "  }}
    for use of 
	{{ machines|join:", "  }}
    </emph>
   {{ issuer.first_name }} trust {{ holder.first_name }} to use this machine properly and safely.</i>
   </p>
  </blockquote>
  <p>
  Thanks for help us grow the makerspace ! 
  <hr>
  <a href="">record more instruction given</a> or 
  <a href="{% url 'index' %}">back to the home page</a>
{% else %}
{% if not lst %}
Sorry - you have not had instructions on any machine yourself (yet). So you
cannot give instructions to others.
{% else %}
  <p>Record the instruction you've just given.</p>

  <form method="post" novalidate>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit">Save</button>
    <a href="{% url 'index' %}">Cancel</a>
  </form>
{% endif %}
{% endif %}

{% endblock %}

