{% extends 'base.html' %}

{% block content %}

<h1>
  {% if space_open %}
    <span style="color: green; font-weight: bold;">- Space is OPEN</span>
  {% endif %}
</h1>

{% if users_in_space %}
<h2>User check-ins</h2>

  <table>
    <tbody>
      {% for u in users_in_space %}
      <tr>
        <td><b><a href="{% url 'overview' member_id=u.id %}">{{ u }}</a></b></td>
        {% if u.id == user.id %}
        <td>
          <a style="background-color: #CCCCCC; border-radius: 3px; font-size: 12px; border: 1px solid #003366; padding: 5px; color: black;" href="{% url 'checkout_from_space' %}">Check out</a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
<i>There's no one at the space now.</i>
{% endif %}

{% endblock %}
