{% extends 'base.html' %}
{% load humanize %}
{% block content %}

{% if no_data_available %}
<span> No data available.</span>
{% else %}

<h1>
  {% if space_open %}
    <span style="color: green; font-weight: bold;">- Space is OPEN</span>
  {% endif %}
</h1>

{% for light in lights_on %}
  <p>
    {{ light.name }} lights are <b style="color: green;">ON</b>
  </p>
{% endfor %}

{% if users_in_space %}
<h2>User check-ins</h2>

  <table>
    <tbody>
      {% for checkin in users_in_space %}
      <tr>
        <td><b><a href="{% url 'overview' member_id=checkin.id %}">{{ checkin.name }}</a></b></td>
        <td>
          {{ checkin.onsite_updated_at|naturaltime }}
        </td>
        <td>
          <i>{{ checkin.onsite_updated_at }}</i>
        </td>
        {% if checkin.id == user.id %}
          <td>
            <form method="post" action="{% url 'checkout_from_space_post' %}">
                {% csrf_token %}
                <button
                  data-test-hook="member-checkout"
                  class="btn btn-outline-primary btn-sm">Checkout</button>
            </form>
          </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
<i>There's no one at the space now.</i>
{% endif %}

{% endif %}
{% endblock %}
