{% extends 'base.html' %}

{% block content %}
  <p>
    In order to use the Telegram BOT you first need to connect it to your CRM account.<br/>
    This way the BOT knows who you are, and what your status is within the space.<br/>
    It can send you messages to remind you when you forget machines or lights on, etc.
  </p>
  <p style="margin-top: 30px;">
    <a style="background-color: #79aec8; border-radius: 6px; font-size: 16px; border-color: #003366; padding: 5px; color: black;" href="https://t.me/MakerSpaceLeidenBot?start={{ token }}">Click here to connect the Telegram BOT to your CRM account.</a>
  </p>
{% endblock %}

