{% extends 'base.html' %}

{% block content %}

{% if saved %}
  <p>The following record has been {% if created %}added{% else %}updated{% endif %}:<p>
  <p>
    <table>
        {{ form.as_table }}
    </table>
  Thanks for helping us grow the makerspace !
 <p/>
  <hr>
  <button type="button" onclick="window.location.href='{% url 'personal_page' %}'" class="btn btn-secondary me-1">Back</button>
{% else %}
  <form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="button" onclick="window.location.href='{% url cancel_button_url %}'" class="btn btn-secondary me-1">Cancel</button>
    <button type="submit" class="btn btn-primary btn-primary-custom me-1">Save</button>


  </form>
{% endif %}

{% endblock %}
